<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/bluedevil-5.4.1.tar.xz">bluedevil-5.4.1</a></td>
   <td align="right">124kB</td>
   <td><tt>d8c945d9d9ca96323f26685c6d7ea55cceebd01b28b43ebcac8257815dd8c3eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/breeze-5.4.1.tar.xz">breeze-5.4.1</a></td>
   <td align="right">34MB</td>
   <td><tt>d03f6443cdf3e49fd651f22c92ccc4b56e25cad63aecba3acca4fae123a82a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kde-cli-tools-5.4.1.tar.xz">kde-cli-tools-5.4.1</a></td>
   <td align="right">473kB</td>
   <td><tt>815d316c1f75ee0f84d7ca083e7552087a15bc567693251508ba80df21e26609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kdecoration-5.4.1.tar.xz">kdecoration-5.4.1</a></td>
   <td align="right">32kB</td>
   <td><tt>db23b15a46356128fb68b8d44521c370e46cda17a71557348f1c96cec0025f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kde-gtk-config-5.4.1.tar.xz">kde-gtk-config-5.4.1</a></td>
   <td align="right">140kB</td>
   <td><tt>833191b74f130525f7b4e420acb9b7661b87ebb181bdc3d596ac527c8d8c063d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kdeplasma-addons-5.4.1.tar.xz">kdeplasma-addons-5.4.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e16de089c668d910acfc41a4449c529e1376b1e7600913df033469586ef8c53a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kgamma5-5.4.1.tar.xz">kgamma5-5.4.1</a></td>
   <td align="right">58kB</td>
   <td><tt>7be6dd9c99d4baca2bf85dbd881084b82334782a1d9a2f22fe54f644f9660290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/khelpcenter-5.4.1.tar.xz">khelpcenter-5.4.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a9a78071574151a1edac0e0c89a97b55e7394cf2ab88ec7cbb92070585fd5a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/khotkeys-5.4.1.tar.xz">khotkeys-5.4.1</a></td>
   <td align="right">592kB</td>
   <td><tt>a24ada4ad04c7b6ccbec5787c2a94bb7b938349fed74216c5388ac53c4719a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kinfocenter-5.4.1.tar.xz">kinfocenter-5.4.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>322f486586bc57b28aacc14db4bfd73aeeb484da0c1006d25964ab11f154479e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kmenuedit-5.4.1.tar.xz">kmenuedit-5.4.1</a></td>
   <td align="right">430kB</td>
   <td><tt>b5581bf720ac11d533504ce7c51766a9225e39efbeece111aa7e70a7a7d91fc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kscreen-5.4.1.tar.xz">kscreen-5.4.1</a></td>
   <td align="right">97kB</td>
   <td><tt>9b49b754fadc5268529f2397f86b62484ad25cbd4e6e5df0a4130adcb20c6b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/ksshaskpass-5.4.1.tar.xz">ksshaskpass-5.4.1</a></td>
   <td align="right">18kB</td>
   <td><tt>a24840cdb02464268cf81b341f2daa3f9c8c3c45aad9a256a349954c2e3a57fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/ksysguard-5.4.1.tar.xz">ksysguard-5.4.1</a></td>
   <td align="right">469kB</td>
   <td><tt>d25df668c256c84f466194e2ff5a75f656437d5bbc98d951b6dd44527a6b3ad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kwallet-pam-5.4.1.tar.xz">kwallet-pam-5.4.1</a></td>
   <td align="right">15kB</td>
   <td><tt>6c2664c04baa52b5e6141b9514ee3367b904e24c52b08f5b7c48d6cb48162b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kwayland-5.4.1.tar.xz">kwayland-5.4.1</a></td>
   <td align="right">109kB</td>
   <td><tt>cf29f72f4d6b0f7c71a10e8b2f70929f1b37321784508a95148cd89d18323c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kwayland-integration-5.4.1.tar.xz">kwayland-integration-5.4.1</a></td>
   <td align="right">13kB</td>
   <td><tt>a7edfb16ea6363f5a3da8b7e3a448cb01eb9a984262b44e2caf9b0ffddb29bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kwin-5.4.1.tar.xz">kwin-5.4.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>9cbeffd3dd2abf8ab05a65d71f7596f2d536b882914973eb77f3f44df92da957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/kwrited-5.4.1.tar.xz">kwrited-5.4.1</a></td>
   <td align="right">19kB</td>
   <td><tt>3ab7a94c180bbe8e929cfc4b52202e48f7cb3a890c82ec7fade305e7357a2a78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/libkscreen-5.4.1.tar.xz">libkscreen-5.4.1</a></td>
   <td align="right">70kB</td>
   <td><tt>f96cd275da7cc6b9b4c2be6b8b0ab3cfd81fa0aec8784675030e4ac52620a31e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/libksysguard-5.4.1.tar.xz">libksysguard-5.4.1</a></td>
   <td align="right">548kB</td>
   <td><tt>97879f5bd72e195c4a6c78c78a739d68d94d33a1379f5ab736a2db25ac766e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/milou-5.4.1.tar.xz">milou-5.4.1</a></td>
   <td align="right">49kB</td>
   <td><tt>dd633ee2e71fd0afe9d173490f96b1cc8a928d518a8f441fa848fd891a494c58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/muon-5.4.1.tar.xz">muon-5.4.1</a></td>
   <td align="right">992kB</td>
   <td><tt>8c53f2abb2af1683498f94b471b159756d6ee9065813063f6c784c02054b423c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/oxygen-5.4.1.tar.xz">oxygen-5.4.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>374cafa11066095c41e6e76b7a84cd0f4f61b34e8d6f042e668bea88aa040829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/oxygen-fonts-5.4.1.tar.xz">oxygen-fonts-5.4.1</a></td>
   <td align="right">157kB</td>
   <td><tt>db6ccaa7ceaf7e93fe24986d3794a74dccf255aff93ea131ad67ecf3317fcb63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/plasma-desktop-5.4.1.tar.xz">plasma-desktop-5.4.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>58321f79538442e5786ae1884abc66929aebf69cfc3397dcad5a84e92ba572a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/plasma-mediacenter-5.4.1.tar.xz">plasma-mediacenter-5.4.1</a></td>
   <td align="right">154kB</td>
   <td><tt>fd2e54dc43fb436d6d823b8e171174397f0a9f20e02fdff5392c0e643d94d5e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/plasma-nm-5.4.1.tar.xz">plasma-nm-5.4.1</a></td>
   <td align="right">534kB</td>
   <td><tt>91862c39285a8f149139229dfb0c717ff6d8eb48b35958a2c0d096e4dc303d0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/plasma-pa-5.4.1.tar.xz">plasma-pa-5.4.1</a></td>
   <td align="right">41kB</td>
   <td><tt>d780bc24c498eed473bfc79167b8fb3755be8af601059bca086b5a8736fc1430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/plasma-sdk-5.4.1.tar.xz">plasma-sdk-5.4.1</a></td>
   <td align="right">630kB</td>
   <td><tt>fa681fe6ca671897cfab50ec250206663f67b1c6e3ece3f442b9f411f1fc0a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/plasma-workspace-5.4.1.tar.xz">plasma-workspace-5.4.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>6084d5885d815301115dd18d65c739e8968c3feb854f5d052348b5062a381795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/plasma-workspace-wallpapers-5.4.1.tar.xz">plasma-workspace-wallpapers-5.4.1</a></td>
   <td align="right">48MB</td>
   <td><tt>31f223834328bf242c63f443bc6f52ea1819314433bbc79795a8994adab8225d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/polkit-kde-agent-1-5.4.1.tar.xz">polkit-kde-agent-1-5.4.1</a></td>
   <td align="right">38kB</td>
   <td><tt>5128354ea066140e10b228b27de22ecfad09c39187cba81eb10c4f9e769b21bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/powerdevil-5.4.1.tar.xz">powerdevil-5.4.1</a></td>
   <td align="right">338kB</td>
   <td><tt>709b34fd63455a0f6699c0d10b6d9390b47ce5ed1be95a3658061e0b653c86d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/sddm-kcm-5.4.1.tar.xz">sddm-kcm-5.4.1</a></td>
   <td align="right">46kB</td>
   <td><tt>140d26d49a24a614a4891e79571f199c45ca59bb707bb147bfb87cb6fcb1fcee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/systemsettings-5.4.1.tar.xz">systemsettings-5.4.1</a></td>
   <td align="right">153kB</td>
   <td><tt>b4cc50c424e86d2d34a8215ba5ae2b81fe0218bc1b9e213afa8a8dad1fc14d59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.1/user-manager-5.4.1.tar.xz">user-manager-5.4.1</a></td>
   <td align="right">53kB</td>
   <td><tt>977d2df4262b81f7aa405dc306cadde7ad4039590b2f29f31bc904da5b5a59a7</tt></td>
</tr>

</table>
