<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/bluedevil-5.9.4.tar.xz">bluedevil-5.9.4</a></td>
   <td align="right">140kB</td>
   <td><tt>acf5c2657294eedf2af6b0c33bd44aac1b93545131ca990e5f7f1e1f95de61a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/breeze-5.9.4.tar.xz">breeze-5.9.4</a></td>
   <td align="right">29MB</td>
   <td><tt>f207bb1fe4ef988aa2c2f5fddb25c58346a8a6cdf37c21fa1632611fd31b211e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/breeze-grub-5.9.4.tar.xz">breeze-grub-5.9.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>795ae0d5372864d106a1408735b852526a9451df8f5acd6839a524c2eb6bc766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/breeze-gtk-5.9.4.tar.xz">breeze-gtk-5.9.4</a></td>
   <td align="right">206kB</td>
   <td><tt>f47540d9df7a21cac778ec30d57afa215a14c0cbb2c14b352ead15cc4c8459f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/breeze-plymouth-5.9.4.tar.xz">breeze-plymouth-5.9.4</a></td>
   <td align="right">94kB</td>
   <td><tt>0f217d1600b83e34a6eb9a4ae7522f07d44873507bbe9b37fefd18a697dd94ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/discover-5.9.4.tar.xz">discover-5.9.4</a></td>
   <td align="right">9.2MB</td>
   <td><tt>eeffc7d22f8d63970f4f5c26b730e5aaccbe66bdcb318d2525a98ba1b8c2c2dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kactivitymanagerd-5.9.4.tar.xz">kactivitymanagerd-5.9.4</a></td>
   <td align="right">81kB</td>
   <td><tt>32f48236fe6cbecbee874cee68c42e19f8391a46a812bcc7efa36bba56fd2412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kde-cli-tools-5.9.4.tar.xz">kde-cli-tools-5.9.4</a></td>
   <td align="right">490kB</td>
   <td><tt>a8fe385e2fd96a5d1a4f0a4005b2588993071e80d3a2062fff16c35bcfd65aa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kdecoration-5.9.4.tar.xz">kdecoration-5.9.4</a></td>
   <td align="right">34kB</td>
   <td><tt>e2a4a9de70aae0d554c251f836eb09219beeb3e7d5560fe57ade75b835b98e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kde-gtk-config-5.9.4.tar.xz">kde-gtk-config-5.9.4</a></td>
   <td align="right">147kB</td>
   <td><tt>0661ab7a75f433b9f4dbf89ba44ab09de9ec8f7ea82d7cfb26316539b2afe331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kdeplasma-addons-5.9.4.tar.xz">kdeplasma-addons-5.9.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d799e680206a251d20e34a43d1faa033497fdec95abdd70e352cf079471b2d05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kgamma5-5.9.4.tar.xz">kgamma5-5.9.4</a></td>
   <td align="right">59kB</td>
   <td><tt>5b0259ae1974d0b75eaffcd8ae596ba7751b4c339f4761246a88302773938f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/khotkeys-5.9.4.tar.xz">khotkeys-5.9.4</a></td>
   <td align="right">591kB</td>
   <td><tt>001359c841d4bb919c82cc0e9826586ebe4654a8aa037bb7e1b7eb9fed9e0f52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kinfocenter-5.9.4.tar.xz">kinfocenter-5.9.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>9d30cd53d52df8cc83f950e501ae649651eb47e450abfe0453260750f4116e93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kmenuedit-5.9.4.tar.xz">kmenuedit-5.9.4</a></td>
   <td align="right">637kB</td>
   <td><tt>9d749d82e49e47e6301128b56412d9b7200ce108eb28ab25ea551d868f79a7d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kscreen-5.9.4.tar.xz">kscreen-5.9.4</a></td>
   <td align="right">110kB</td>
   <td><tt>bde7a7733310a7cbce68277586e80277a51434b893fb95d9c023da6a792691bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kscreenlocker-5.9.4.tar.xz">kscreenlocker-5.9.4</a></td>
   <td align="right">106kB</td>
   <td><tt>92e26758b1ff0af00e4416f2a463e8690e59010de8bdd3c37ef82c551749c132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/ksshaskpass-5.9.4.tar.xz">ksshaskpass-5.9.4</a></td>
   <td align="right">19kB</td>
   <td><tt>6a5adce31ed348a2838b574774199102aeacec0c3ee2cfd8b5c3a588622935f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/ksysguard-5.9.4.tar.xz">ksysguard-5.9.4</a></td>
   <td align="right">476kB</td>
   <td><tt>10340edffb467231f7187f97061da5f47d2934289e11f045507a0ba1ecc41f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kwallet-pam-5.9.4.tar.xz">kwallet-pam-5.9.4</a></td>
   <td align="right">17kB</td>
   <td><tt>dcfaa53317537454871a819b6b0ebdc4a1faec2698e13c1d8b805671ab55cf50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kwayland-integration-5.9.4.tar.xz">kwayland-integration-5.9.4</a></td>
   <td align="right">17kB</td>
   <td><tt>3d34ff505d9f9bef1132f5edd82be3fa4885b1eecfe62cfe65657f3592887887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kwin-5.9.4.tar.xz">kwin-5.9.4</a></td>
   <td align="right">4.4MB</td>
   <td><tt>a136b0c46c2c8376611355598236d829f54da8192682c515e4358cb6cd849361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/kwrited-5.9.4.tar.xz">kwrited-5.9.4</a></td>
   <td align="right">19kB</td>
   <td><tt>67b5fd067951aa831eee14bf73fbabdd16e6fa4a63ff1d85e59e05651cb02bdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/libkscreen-5.9.4.tar.xz">libkscreen-5.9.4</a></td>
   <td align="right">91kB</td>
   <td><tt>fb0e1f278017276b69b7796042e3f04b350fc264024c974e683c159f414869c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/libksysguard-5.9.4.tar.xz">libksysguard-5.9.4</a></td>
   <td align="right">561kB</td>
   <td><tt>15df1b40cedc28d4634d2ceb301401930d46897bb4cf963cdf26cd7c51c6eebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/milou-5.9.4.tar.xz">milou-5.9.4</a></td>
   <td align="right">53kB</td>
   <td><tt>dcad590c3ad7f2ab8ead85cd9bec6bb037a399ce28dde4297dec195a53eabfa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/oxygen-5.9.4.tar.xz">oxygen-5.9.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>184cf85ac0c9e9614462a9aa17d870aac237647ef85c07cd87286c2007d6be3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/plasma-desktop-5.9.4.tar.xz">plasma-desktop-5.9.4</a></td>
   <td align="right">5.7MB</td>
   <td><tt>8d193950391cfc3a50db862838cc71daf34292de4a7e720289da7e5773c171dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/plasma-integration-5.9.4.tar.xz">plasma-integration-5.9.4</a></td>
   <td align="right">48kB</td>
   <td><tt>1569754b78cb57451360680316f3ce33f6eee643333a8eb0a8040512c44d65d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/plasma-nm-5.9.4.tar.xz">plasma-nm-5.9.4</a></td>
   <td align="right">654kB</td>
   <td><tt>3dc938132afc041a9a4a15fe6f201337cfa1c39607065f220dafbfd3a1f77b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/plasma-pa-5.9.4.tar.xz">plasma-pa-5.9.4</a></td>
   <td align="right">68kB</td>
   <td><tt>288aa1cae1f70e881e113b4a7cfcc750297a442406735f07d723986eea633642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/plasma-sdk-5.9.4.tar.xz">plasma-sdk-5.9.4</a></td>
   <td align="right">706kB</td>
   <td><tt>dcdd30e67a5c4a0664871f3cf1b636ea19bf61fe044284556d438cc3d54c845b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/plasma-tests-5.9.4.tar.xz">plasma-tests-5.9.4</a></td>
   <td align="right">1kB</td>
   <td><tt>65939a0ba449d2751ff74637d91ed2e5905950f5be83da6f80b3a09344a7cd54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/plasma-workspace-5.9.4.tar.xz">plasma-workspace-5.9.4</a></td>
   <td align="right">6.6MB</td>
   <td><tt>15af4769aee9ab35df133fcb4b366ead4cf3b495e7f6d1ece4851055887d5f5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/plasma-workspace-wallpapers-5.9.4.tar.xz">plasma-workspace-wallpapers-5.9.4</a></td>
   <td align="right">43MB</td>
   <td><tt>01097a93eb0310883be9f6ab5d7e8506be47a243bcf978d04b207783d4a1cf4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/polkit-kde-agent-1-5.9.4.tar.xz">polkit-kde-agent-1-5.9.4</a></td>
   <td align="right">40kB</td>
   <td><tt>4c3a890c1f09433c3a0b6afb0984a18cf6676405b818facbb6f5ef29dbdba383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/powerdevil-5.9.4.tar.xz">powerdevil-5.9.4</a></td>
   <td align="right">350kB</td>
   <td><tt>3b877429e6be898f114848964c1190f2fbd41ea97db820dea5a1f0989901f7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/sddm-kcm-5.9.4.tar.xz">sddm-kcm-5.9.4</a></td>
   <td align="right">55kB</td>
   <td><tt>941a9155942d9c52bf9d93dc0c312b0b473dcc224f503f92de06e2fd37512dff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/systemsettings-5.9.4.tar.xz">systemsettings-5.9.4</a></td>
   <td align="right">154kB</td>
   <td><tt>c1b3187453d9a3f87178003c21f881366c0139a4d601b724c4e649f89e6a050e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.4/user-manager-5.9.4.tar.xz">user-manager-5.9.4</a></td>
   <td align="right">531kB</td>
   <td><tt>c4e44aa68038fd78b1aadc84b6f815abb5df55e0df7b06e7d2487e5c569f5cb2</tt></td>
</tr>

</table>
