<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/bluedevil-5.18.4.1.tar.xz">bluedevil-5.18.4.1</a></td>
   <td align="right">163kB</td>
   <td><tt>bbb589b25e7da47cdbb13e4f9ccd8b6d66a01024a6ef5a01561c01266f3b1829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/breeze-5.18.4.1.tar.xz">breeze-5.18.4.1</a></td>
   <td align="right">20MB</td>
   <td><tt>b809be5c434aa974e529a296a5a602b3b2c659613f59d23034da812dc21eeebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/breeze-grub-5.18.4.1.tar.xz">breeze-grub-5.18.4.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3e68e08b3975facda841725b6b6e389eaa49e6b5442697b1952649e964233a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/breeze-gtk-5.18.4.1.tar.xz">breeze-gtk-5.18.4.1</a></td>
   <td align="right">41kB</td>
   <td><tt>078e0a6fe78e778f4bf34254b65a9b4cadd27ae258911f3cccde3b0498fada7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/breeze-plymouth-5.18.4.1.tar.xz">breeze-plymouth-5.18.4.1</a></td>
   <td align="right">103kB</td>
   <td><tt>af78670ccabf50a31b176e6f060fb8d6c536d473ec0697e163471d6deaa4c04a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/discover-5.18.4.1.tar.xz">discover-5.18.4.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>b89c19df39286c2ec0b1128369372a7628fa5403ea5d9af244ddd7c1042c2802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/drkonqi-5.18.4.1.tar.xz">drkonqi-5.18.4.1</a></td>
   <td align="right">730kB</td>
   <td><tt>4b3072c4ef571764897a9aa1c26e63d57f9d2fd55c6f932f489f2e30f8afb6d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kactivitymanagerd-5.18.4.1.tar.xz">kactivitymanagerd-5.18.4.1</a></td>
   <td align="right">85kB</td>
   <td><tt>8378c37f0ddfa918dec1e6576277f92b0d8c78a972dc947a445c2f8695ceac63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kde-cli-tools-5.18.4.1.tar.xz">kde-cli-tools-5.18.4.1</a></td>
   <td align="right">578kB</td>
   <td><tt>67b9490eeb3472875939fff55f8fe4e222e2cdcacdb2f32489a099a9a70e20e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kdecoration-5.18.4.1.tar.xz">kdecoration-5.18.4.1</a></td>
   <td align="right">42kB</td>
   <td><tt>b5a2d810498fe8723e630d07710ba8643220e028a6bc9ab25c6117f82e81adca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kde-gtk-config-5.18.4.1.tar.xz">kde-gtk-config-5.18.4.1</a></td>
   <td align="right">24kB</td>
   <td><tt>20dea1d6b9f0ba7c9987dcdd61aa3cfc7b27968b393f600e29e00ae561179c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kdeplasma-addons-5.18.4.1.tar.xz">kdeplasma-addons-5.18.4.1</a></td>
   <td align="right">600kB</td>
   <td><tt>09a4ff1e4384f4e77998bc45a9c2ed3c56746a8e114967013d25b08b2a5b6a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kgamma5-5.18.4.1.tar.xz">kgamma5-5.18.4.1</a></td>
   <td align="right">78kB</td>
   <td><tt>08b5c447edc0210eaab7244cec640863f9097556d97bf010a525d8184705d2fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/khotkeys-5.18.4.1.tar.xz">khotkeys-5.18.4.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>272f83576ab3b13203400854431e891c27d027684eebc720f2009734d3b7221f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kinfocenter-5.18.4.1.tar.xz">kinfocenter-5.18.4.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e05c18a654ae84e4677a5083db8fdb90cf8431dd2fea26e5fc8550a6615c7728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kmenuedit-5.18.4.1.tar.xz">kmenuedit-5.18.4.1</a></td>
   <td align="right">795kB</td>
   <td><tt>55dceadb91356c42c80ebbea7190251cb90d74abaeda88137863747b17d2ca69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kscreen-5.18.4.1.tar.xz">kscreen-5.18.4.1</a></td>
   <td align="right">110kB</td>
   <td><tt>dc0d61e46189d0f76d33a92c1253d7d2f7d7f2d0043d5e411a5a067915d0f5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kscreenlocker-5.18.4.1.tar.xz">kscreenlocker-5.18.4.1</a></td>
   <td align="right">122kB</td>
   <td><tt>8a4e093c4185f1343675bd7fb04725b50392e718e6692967c5fb551086f18c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/ksshaskpass-5.18.4.1.tar.xz">ksshaskpass-5.18.4.1</a></td>
   <td align="right">21kB</td>
   <td><tt>57d7792f66ffa0df835fcbb5e7c1411c289157a6e0e3cd4be16f81fb4733afea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/ksysguard-5.18.4.1.tar.xz">ksysguard-5.18.4.1</a></td>
   <td align="right">505kB</td>
   <td><tt>2c9fdd60ff76f4fbfd96b3d5862fe42a9bc0c7cb6b795472eadcda75d2889777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kwallet-pam-5.18.4.1.tar.xz">kwallet-pam-5.18.4.1</a></td>
   <td align="right">19kB</td>
   <td><tt>dcdfd4d699e0afe4d5f2193366b8e0c9cb9b7fe01fa5481203d1eac6f66e91eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kwayland-integration-5.18.4.1.tar.xz">kwayland-integration-5.18.4.1</a></td>
   <td align="right">20kB</td>
   <td><tt>81ffda6822ceff6c241a84a5fac7643e0c42edf880810de84247fffcb3835950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kwin-5.18.4.1.tar.xz">kwin-5.18.4.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>693a740976b46aa9fbdb68283b5c887aca70f9f96a357a766fab7a942b5a0d2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/kwrited-5.18.4.1.tar.xz">kwrited-5.18.4.1</a></td>
   <td align="right">19kB</td>
   <td><tt>ac8f45fbec8b11dd9c56d58c72dd3bb580d7791088c4f6c71522619dd74ff531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/libkscreen-5.18.4.1.tar.xz">libkscreen-5.18.4.1</a></td>
   <td align="right">83kB</td>
   <td><tt>c42077f927a087744a4619384f2784d117c4d8329e0335d718bb2afa3af68436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/libksysguard-5.18.4.1.tar.xz">libksysguard-5.18.4.1</a></td>
   <td align="right">596kB</td>
   <td><tt>357be91db541876fa257b9be903484beb6577502a05f1610480ed0b198d16824</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/milou-5.18.4.1.tar.xz">milou-5.18.4.1</a></td>
   <td align="right">62kB</td>
   <td><tt>51008aaac65876c83346261c9b89637ad2ac613e3b57bdb9b936d3dc661e4014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/oxygen-5.18.4.1.tar.xz">oxygen-5.18.4.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>530e7f8594a96500fe8d501ea0f742e77925646389c4f6eb4cfea477ea751621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-browser-integration-5.18.4.1.tar.xz">plasma-browser-integration-5.18.4.1</a></td>
   <td align="right">152kB</td>
   <td><tt>5b37e9e84435d1dc77e4b68c97042be60da0ba66e7dc2ef7d60d210785154c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-desktop-5.18.4.1.tar.xz">plasma-desktop-5.18.4.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>19c50781ced6608b8efb3d94e94575a397f58a159d63bba64c27a6c6d72e0af3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-integration-5.18.4.1.tar.xz">plasma-integration-5.18.4.1</a></td>
   <td align="right">56kB</td>
   <td><tt>1cf85885b4684d5c9c35c563e7dba6ba5da61d38fbf4ce900de99961cf4b01af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-nano-5.18.4.1.tar.xz">plasma-nano-5.18.4.1</a></td>
   <td align="right">31kB</td>
   <td><tt>f127593ede413982a05bb8efe91b6ff39c277a26e5f87829de0f30d92c26b533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-nm-5.18.4.1.tar.xz">plasma-nm-5.18.4.1</a></td>
   <td align="right">808kB</td>
   <td><tt>a7ae36b47c2ee85590b01a1e03fae179d243bb4e718417be0b8e93e7dfc77e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-pa-5.18.4.1.tar.xz">plasma-pa-5.18.4.1</a></td>
   <td align="right">102kB</td>
   <td><tt>dc137b769f0c8aadcb93f12fda16582a0c899684fdffb29c257385ee4f72a7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-phone-components-5.18.4.1.tar.xz">plasma-phone-components-5.18.4.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9a38c1c7bb134d7f459b8ab541b854d741168ddc6653ec254873551a672178f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-sdk-5.18.4.1.tar.xz">plasma-sdk-5.18.4.1</a></td>
   <td align="right">256kB</td>
   <td><tt>aa93ef34bcc8e24e8c183a327522e08ab5772b97b86c6c83d247a6333b328ea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-tests-5.18.4.1.tar.xz">plasma-tests-5.18.4.1</a></td>
   <td align="right">1kB</td>
   <td><tt>fcf61728f7919661f347997782c3accfc2ad61852297bea8d9d50ed561652159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-thunderbolt-5.18.4.1.tar.xz">plasma-thunderbolt-5.18.4.1</a></td>
   <td align="right">49kB</td>
   <td><tt>ce586c98889ed51f30d1a9fc6e8e2847589d7aaf2d400fe00b3b4126d17c565a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-vault-5.18.4.1.tar.xz">plasma-vault-5.18.4.1</a></td>
   <td align="right">133kB</td>
   <td><tt>09e2536a437f15eaed7c550cfd5ceb0fb7555cf0de8e6b7d6f728f5e2ed40c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-workspace-5.18.4.1.tar.xz">plasma-workspace-5.18.4.1</a></td>
   <td align="right">5.4MB</td>
   <td><tt>924d8401c3d1fe5d107b6d3facaf96c292f1d4972529831993056982f28b1601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plasma-workspace-wallpapers-5.18.4.1.tar.xz">plasma-workspace-wallpapers-5.18.4.1</a></td>
   <td align="right">35MB</td>
   <td><tt>1a7239b5d3eee20c30a406b4890a70e0aa8b870c6291698916b310fcafbf6754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/plymouth-kcm-5.18.4.1.tar.xz">plymouth-kcm-5.18.4.1</a></td>
   <td align="right">40kB</td>
   <td><tt>a7aed2ddf12fa16a43d3b4238d66f8db9a0127814b8eb1f4eab672a819d6335d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/polkit-kde-agent-1-5.18.4.1.tar.xz">polkit-kde-agent-1-5.18.4.1</a></td>
   <td align="right">43kB</td>
   <td><tt>b1e20048d1f917dfeabb150d1147a6add02e7cfb333df8d73f9fabf0a643ff48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/powerdevil-5.18.4.1.tar.xz">powerdevil-5.18.4.1</a></td>
   <td align="right">583kB</td>
   <td><tt>ccda33366be7bac6e8a0d551d9501a7c394ddda281c806720582630c075fd1ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/sddm-kcm-5.18.4.1.tar.xz">sddm-kcm-5.18.4.1</a></td>
   <td align="right">60kB</td>
   <td><tt>216656b57ea6bc04983778f292f756ee9def04e7477a662acb13b3dc177dc446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/systemsettings-5.18.4.1.tar.xz">systemsettings-5.18.4.1</a></td>
   <td align="right">174kB</td>
   <td><tt>33ea03459bdc656237a229dfb02116d5a328ac3bdf2860f1c60953aedd891d77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/user-manager-5.18.4.1.tar.xz">user-manager-5.18.4.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4bc1c38cec0b6869e43c20d88d0d66178f29c1ea2802fa9c6df1ec2fcf093e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.4/xdg-desktop-portal-kde-5.18.4.1.tar.xz">xdg-desktop-portal-kde-5.18.4.1</a></td>
   <td align="right">63kB</td>
   <td><tt>e860b6b11282747a8ce97f89a67d2e51ebe9ca717e7cd9aa65c3349266d64188</tt></td>
</tr>

</table>
