<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/analitza-4.9.4.tar.xz">analitza-4.9.4</a></td>
   <td align="right">142kB</td>
   <td><tt>4bc60c937d881eb11491b30ae445ebc37393a303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/ark-4.9.4.tar.xz">ark-4.9.4</a></td>
   <td align="right">231kB</td>
   <td><tt>074aece141ec229b5d72b39e4d31af4e5b4550cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/audiocd-kio-4.9.4.tar.xz">audiocd-kio-4.9.4</a></td>
   <td align="right">55kB</td>
   <td><tt>f3ad5a8d8f4663ea0ea9d67834498350e932f57e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/blinken-4.9.4.tar.xz">blinken-4.9.4</a></td>
   <td align="right">552kB</td>
   <td><tt>e8a2ed440d62edaf302de898f84ba6b3af0eb21e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/cantor-4.9.4.tar.xz">cantor-4.9.4</a></td>
   <td align="right">266kB</td>
   <td><tt>fe77d1fcb0fe0368a4030adebb43aa9323f26f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/dragon-4.9.4.tar.xz">dragon-4.9.4</a></td>
   <td align="right">385kB</td>
   <td><tt>6dd5d1721ba09f73695eee8eaca9478baf471893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/ffmpegthumbs-4.9.4.tar.xz">ffmpegthumbs-4.9.4</a></td>
   <td align="right">20kB</td>
   <td><tt>6886d4949ebbb292bcbbfb28e254b561306ec3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/filelight-4.9.4.tar.xz">filelight-4.9.4</a></td>
   <td align="right">288kB</td>
   <td><tt>8fddb94d96df5a3cf83775f81204d716040086bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/gwenview-4.9.4.tar.xz">gwenview-4.9.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2bff681c1553f8431dcab24c809cde2586e69b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/jovie-4.9.4.tar.xz">jovie-4.9.4</a></td>
   <td align="right">360kB</td>
   <td><tt>d490ee768aa59d263b7fd43d4b180193658aebbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/juk-4.9.4.tar.xz">juk-4.9.4</a></td>
   <td align="right">434kB</td>
   <td><tt>4ce2a0ce7b5c128c63d1fefcdbd3d2c7c8cf6e56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kaccessible-4.9.4.tar.xz">kaccessible-4.9.4</a></td>
   <td align="right">20kB</td>
   <td><tt>178b2f10621fbd50b7d4b5d50dfbae012f009551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kactivities-4.9.4.tar.xz">kactivities-4.9.4</a></td>
   <td align="right">86kB</td>
   <td><tt>1e3b69751d0da8416215038bc140748df23d4f37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kalgebra-4.9.4.tar.xz">kalgebra-4.9.4</a></td>
   <td align="right">431kB</td>
   <td><tt>e9b68afaad38f42d569f214123a6c8e352cbd3a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kalzium-4.9.4.tar.xz">kalzium-4.9.4</a></td>
   <td align="right">3.5MB</td>
   <td><tt>7fb581e74cd2d561a9db7c2de754339f2e345e2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kamera-4.9.4.tar.xz">kamera-4.9.4</a></td>
   <td align="right">36kB</td>
   <td><tt>6a2c0ff74e1a11d0f00c6749b3726b233d283040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kanagram-4.9.4.tar.xz">kanagram-4.9.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ef8c012ce41094b7074502753153398028e58c99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kate-4.9.4.tar.xz">kate-4.9.4</a></td>
   <td align="right">2.0MB</td>
   <td><tt>7740527d43f057c949c4954d916cd7237c915b20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kbruch-4.9.4.tar.xz">kbruch-4.9.4</a></td>
   <td align="right">886kB</td>
   <td><tt>77a1ba76f67b4d353efc2733ffb65873f4f24f45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kcalc-4.9.4.tar.xz">kcalc-4.9.4</a></td>
   <td align="right">86kB</td>
   <td><tt>2cdffc6aad88d8da2e4f37b2d92c40a64a77b9dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kcharselect-4.9.4.tar.xz">kcharselect-4.9.4</a></td>
   <td align="right">84kB</td>
   <td><tt>6f2c822e8255a87ad1636265c47ac78b366ce0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kcolorchooser-4.9.4.tar.xz">kcolorchooser-4.9.4</a></td>
   <td align="right">4kB</td>
   <td><tt>c8c41d4724e689cf70028bafb3bb705fe90607ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdeadmin-4.9.4.tar.xz">kdeadmin-4.9.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7c5b125297ecf7e5801297fac284459209937c76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdeartwork-4.9.4.tar.xz">kdeartwork-4.9.4</a></td>
   <td align="right">132MB</td>
   <td><tt>7ba38088117d172e54e66f480cc164509bc4628a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-baseapps-4.9.4.tar.xz">kde-baseapps-4.9.4</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b68e76766331272a45b1d897adf4c1928a11e747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-base-artwork-4.9.4.tar.xz">kde-base-artwork-4.9.4</a></td>
   <td align="right">15MB</td>
   <td><tt>ab7b1746ce7fce494e5b48c8e42675ce733eb6e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdegames-4.9.4.tar.xz">kdegames-4.9.4</a></td>
   <td align="right">49MB</td>
   <td><tt>462d1e2e0a833c16d9b2ccbb79c1bf218ecb2e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdegraphics-mobipocket-4.9.4.tar.xz">kdegraphics-mobipocket-4.9.4</a></td>
   <td align="right">19kB</td>
   <td><tt>11492b62e7691becf2fa1f1e8fb50d341abb7825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdegraphics-strigi-analyzer-4.9.4.tar.xz">kdegraphics-strigi-analyzer-4.9.4</a></td>
   <td align="right">39kB</td>
   <td><tt>cca29298ab63c7e775c81a2266c431507490c93a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdegraphics-thumbnailers-4.9.4.tar.xz">kdegraphics-thumbnailers-4.9.4</a></td>
   <td align="right">40kB</td>
   <td><tt>ea6156de54839157f933588eb7db6d94a2399f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdelibs-4.9.4.tar.xz">kdelibs-4.9.4</a></td>
   <td align="right">11MB</td>
   <td><tt>b2fe70261207a96a26b5d8789379f134e3e070be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdenetwork-4.9.4.tar.xz">kdenetwork-4.9.4</a></td>
   <td align="right">8.6MB</td>
   <td><tt>1541bfd584fc86e29782dbfdbb94c2b183a2bd48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdepim-4.9.4.tar.xz">kdepim-4.9.4</a></td>
   <td align="right">13MB</td>
   <td><tt>f383306430705ff2af14518b9be90448bf857398</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdepimlibs-4.9.4.tar.xz">kdepimlibs-4.9.4</a></td>
   <td align="right">2.7MB</td>
   <td><tt>78fb5ec8d8a0cbd145f44d76618705c1e3e3b0a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdepim-runtime-4.9.4.tar.xz">kdepim-runtime-4.9.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5d6466761e890b2ee0ce66b274553c10f2827ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdeplasma-addons-4.9.4.tar.xz">kdeplasma-addons-4.9.4</a></td>
   <td align="right">1.6MB</td>
   <td><tt>112e6702e16d0e40c6422c89227a25c2c4993df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-runtime-4.9.4.tar.xz">kde-runtime-4.9.4</a></td>
   <td align="right">6.1MB</td>
   <td><tt>8988c3684c05efc676d1bfe454480f60d75fac3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdesdk-4.9.4.tar.xz">kdesdk-4.9.4</a></td>
   <td align="right">4.9MB</td>
   <td><tt>1742284169b2c9e0d9459241f3277a137a282846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdetoys-4.9.4.tar.xz">kdetoys-4.9.4</a></td>
   <td align="right">377kB</td>
   <td><tt>e59638143bdf75e09ef57658f1f8a53514004a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-wallpapers-4.9.4.tar.xz">kde-wallpapers-4.9.4</a></td>
   <td align="right">73MB</td>
   <td><tt>02c8d13d884423a66aa04b63e7f99d274cfe683d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdewebdev-4.9.4.tar.xz">kdewebdev-4.9.4</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f81a44220c5622b222cb032160be06bf1d965704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-workspace-4.9.4.tar.xz">kde-workspace-4.9.4</a></td>
   <td align="right">21MB</td>
   <td><tt>c619181256f86bb1921cfbe6136ea3604d94aabe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kdf-4.9.4.tar.xz">kdf-4.9.4</a></td>
   <td align="right">153kB</td>
   <td><tt>57398080e2ae4fe61855ed6f576700fdde83a277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kfloppy-4.9.4.tar.xz">kfloppy-4.9.4</a></td>
   <td align="right">59kB</td>
   <td><tt>f441d4dbb8fa9b4ed9de6c4c0cc0a4af0ca06213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kgamma-4.9.4.tar.xz">kgamma-4.9.4</a></td>
   <td align="right">26kB</td>
   <td><tt>04c9d79cb49d2ee8488a4f343945f3b4ead4b183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kgeography-4.9.4.tar.xz">kgeography-4.9.4</a></td>
   <td align="right">6.4MB</td>
   <td><tt>eea64f1812eeb4987fe9a39dbb0a7d7bde5b2099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kgpg-4.9.4.tar.xz">kgpg-4.9.4</a></td>
   <td align="right">794kB</td>
   <td><tt>30b379e044c18dc28410bffb340bead19c2df3c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/khangman-4.9.4.tar.xz">khangman-4.9.4</a></td>
   <td align="right">3.6MB</td>
   <td><tt>a736204fd77a9652acf247681d0dc560afc45ddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kig-4.9.4.tar.xz">kig-4.9.4</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b116a1ad9877e382430511c9f28e61b42a927b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kimono-4.9.4.tar.xz">kimono-4.9.4</a></td>
   <td align="right">931kB</td>
   <td><tt>af6c85518c61cbc8e70a1bf280be0f36c3b381ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kiten-4.9.4.tar.xz">kiten-4.9.4</a></td>
   <td align="right">11MB</td>
   <td><tt>cb82fbb6c62ebd9bb9fd7a96ca62987aa7546a72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/klettres-4.9.4.tar.xz">klettres-4.9.4</a></td>
   <td align="right">2.5MB</td>
   <td><tt>f71f6b3196f9836869d7ee937e75c0492c28c9c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kmag-4.9.4.tar.xz">kmag-4.9.4</a></td>
   <td align="right">90kB</td>
   <td><tt>725825a4a54180eb8fe4e405e08808988e09fdc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kmix-4.9.4.tar.xz">kmix-4.9.4</a></td>
   <td align="right">297kB</td>
   <td><tt>812087a8acfdbe676af422f2742f8c4fee91a835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kmousetool-4.9.4.tar.xz">kmousetool-4.9.4</a></td>
   <td align="right">42kB</td>
   <td><tt>22b82033de4739d82e3e82dcd345cb66eaa6d9fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kmouth-4.9.4.tar.xz">kmouth-4.9.4</a></td>
   <td align="right">314kB</td>
   <td><tt>5f7691f0306dd1690fbbf05d15c6c1636ecd80a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kmplot-4.9.4.tar.xz">kmplot-4.9.4</a></td>
   <td align="right">664kB</td>
   <td><tt>07e94f3d66bae5bf518117d76d15f6d996174b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kolourpaint-4.9.4.tar.xz">kolourpaint-4.9.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>04025967d768683ad9f310aab301b41cb000f51b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/konsole-4.9.4.tar.xz">konsole-4.9.4</a></td>
   <td align="right">431kB</td>
   <td><tt>64862dd9d6544f21d62b89b8b829c3ffaa2dafb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/korundum-4.9.4.tar.xz">korundum-4.9.4</a></td>
   <td align="right">161kB</td>
   <td><tt>13fdd219fe1d1082d89d965026adc2e58906da34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kremotecontrol-4.9.4.tar.xz">kremotecontrol-4.9.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5aaab53ed9b6e4acd3618dc5265b52b3386c8c65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kross-interpreters-4.9.4.tar.xz">kross-interpreters-4.9.4</a></td>
   <td align="right">130kB</td>
   <td><tt>01e1a4f37898e1170e5827d07f4e6ed34ab8ea6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kruler-4.9.4.tar.xz">kruler-4.9.4</a></td>
   <td align="right">130kB</td>
   <td><tt>8df30ea040707fda547bde0435ab0843beb8a59f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/ksaneplugin-4.9.4.tar.xz">ksaneplugin-4.9.4</a></td>
   <td align="right">13kB</td>
   <td><tt>e4d06db72f4b1d7268bdc31f760dea3e91a6c920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kscd-4.9.4.tar.xz">kscd-4.9.4</a></td>
   <td align="right">93kB</td>
   <td><tt>298472d76a84a9c7f46c27cc7c141c90e1a1fae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/ksnapshot-4.9.4.tar.xz">ksnapshot-4.9.4</a></td>
   <td align="right">257kB</td>
   <td><tt>0c38aaf8e536704a44b469d708e523f0247a8086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kstars-4.9.4.tar.xz">kstars-4.9.4</a></td>
   <td align="right">11MB</td>
   <td><tt>fecf388392ef52b838ae1ce35a76208e28547798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/ktimer-4.9.4.tar.xz">ktimer-4.9.4</a></td>
   <td align="right">147kB</td>
   <td><tt>eb0a962643bade40039b06fcf3d4d8a5eb1b9444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/ktouch-4.9.4.tar.xz">ktouch-4.9.4</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3b8c0ee5d81caa004f628a3bb660c9ed0f38df73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kturtle-4.9.4.tar.xz">kturtle-4.9.4</a></td>
   <td align="right">209kB</td>
   <td><tt>4c0b1725b68a93b55ea53aff8b9393f10cfd8792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kwallet-4.9.4.tar.xz">kwallet-4.9.4</a></td>
   <td align="right">275kB</td>
   <td><tt>d4dd33868ba75a3342ad380ea626e1ed2e8898d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kwordquiz-4.9.4.tar.xz">kwordquiz-4.9.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>81e9c87b19c14bf5c5e4dfce2e47fbed63ad0c99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/libkcddb-4.9.4.tar.xz">libkcddb-4.9.4</a></td>
   <td align="right">155kB</td>
   <td><tt>862239eca7ff3bd68dfcbd0cd1b95c8d99b4bf61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/libkcompactdisc-4.9.4.tar.xz">libkcompactdisc-4.9.4</a></td>
   <td align="right">75kB</td>
   <td><tt>e1ca051ebaf3430813b9d18dd2c1dca00c147d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/libkdcraw-4.9.4.tar.xz">libkdcraw-4.9.4</a></td>
   <td align="right">263kB</td>
   <td><tt>b40cac622106dd45dd15e3ccc3b10480cc624bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/libkdeedu-4.9.4.tar.xz">libkdeedu-4.9.4</a></td>
   <td align="right">207kB</td>
   <td><tt>ecaf85ede42bb99850af6b1a35912327d95a1322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/libkexiv2-4.9.4.tar.xz">libkexiv2-4.9.4</a></td>
   <td align="right">130kB</td>
   <td><tt>130c9956c89076ba9df971ea72c0713fdcfee989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/libkipi-4.9.4.tar.xz">libkipi-4.9.4</a></td>
   <td align="right">75kB</td>
   <td><tt>fe3c09ed2bc378d975b1d2f495752f03529e52e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/libksane-4.9.4.tar.xz">libksane-4.9.4</a></td>
   <td align="right">80kB</td>
   <td><tt>6e6dd688b9cae1e809754d527327770c8a4caad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/marble-4.9.4.tar.xz">marble-4.9.4</a></td>
   <td align="right">18MB</td>
   <td><tt>32631172148b5994e81ba51dddf0e5bbd2a1867c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/mplayerthumbs-4.9.4.tar.xz">mplayerthumbs-4.9.4</a></td>
   <td align="right">27kB</td>
   <td><tt>9c5073216f0b62e0fefbd5fbd1fa0e4889a9da1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/nepomuk-core-4.9.4.tar.xz">nepomuk-core-4.9.4</a></td>
   <td align="right">381kB</td>
   <td><tt>f48b29dbbaec3938930176d3225fe292c26c9fce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/okular-4.9.4.tar.xz">okular-4.9.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>66299e7c61596e22109fe0758c1aab306e591d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/oxygen-icons-4.9.4.tar.xz">oxygen-icons-4.9.4</a></td>
   <td align="right">268MB</td>
   <td><tt>459c0db3412e7f3aa3908467cbc6d9bc7af04c07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/pairs-4.9.4.tar.xz">pairs-4.9.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9395abdc41127721782a9c565c2176a74e37b165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/parley-4.9.4.tar.xz">parley-4.9.4</a></td>
   <td align="right">7.8MB</td>
   <td><tt>0f6eda7075d36aa9a8a97b15e5f81bf5b99da2e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/perlkde-4.9.4.tar.xz">perlkde-4.9.4</a></td>
   <td align="right">43kB</td>
   <td><tt>8b43723d404d84fa87f6899ba3d332e3c035b583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/perlqt-4.9.4.tar.xz">perlqt-4.9.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>daa1ceadd1008cc7a82eb810731ff7c76fccb674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/printer-applet-4.9.4.tar.xz">printer-applet-4.9.4</a></td>
   <td align="right">35kB</td>
   <td><tt>3a375dd86a44ae1f720a3cc10ae91a43581a68dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/pykde4-4.9.4.tar.xz">pykde4-4.9.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d9c5fbbc79e95fca0ab2523a8de4e2291641bea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/qtruby-4.9.4.tar.xz">qtruby-4.9.4</a></td>
   <td align="right">528kB</td>
   <td><tt>4f6f57b7f99b540b126534b8f9208cc1419b7e9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/qyoto-4.9.4.tar.xz">qyoto-4.9.4</a></td>
   <td align="right">513kB</td>
   <td><tt>53715ebadb0d591d5a0913602dff7a92eb636e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/rocs-4.9.4.tar.xz">rocs-4.9.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>16cb879c6480340c7cb37622b35010df855f7ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/smokegen-4.9.4.tar.xz">smokegen-4.9.4</a></td>
   <td align="right">146kB</td>
   <td><tt>15dd451d602d12e045f3618f9debded16ea45ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/smokekde-4.9.4.tar.xz">smokekde-4.9.4</a></td>
   <td align="right">38kB</td>
   <td><tt>6634a0cc22c26c4d30a23bfc768adacdbd75eb5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/smokeqt-4.9.4.tar.xz">smokeqt-4.9.4</a></td>
   <td align="right">31kB</td>
   <td><tt>171b3c1cc0e7986ffb2d96a9ff844300e98746bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/step-4.9.4.tar.xz">step-4.9.4</a></td>
   <td align="right">366kB</td>
   <td><tt>e69b672ee8530466970c9ef7726682bbb819e051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/superkaramba-4.9.4.tar.xz">superkaramba-4.9.4</a></td>
   <td align="right">380kB</td>
   <td><tt>b42ddd333e19daf8f036b733e9dc8d4a6418bfd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/svgpart-4.9.4.tar.xz">svgpart-4.9.4</a></td>
   <td align="right">9kB</td>
   <td><tt>a3829bfb4d129cb56d58b72d38f9ce6a02209d93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/sweeper-4.9.4.tar.xz">sweeper-4.9.4</a></td>
   <td align="right">82kB</td>
   <td><tt>5c0e489a470174a61a6bea88ac994e555ebdd1c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-ar-4.9.4.tar.xz">kde-l10n-ar-4.9.4</a></td>
   <td align="right">3.1MB</td>
   <td><tt>97d7c9e5e2790dc0377ed525077a1a3191461549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-bg-4.9.4.tar.xz">kde-l10n-bg-4.9.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8c28a1122b9b9b30fe870047ae98ea0d4a28fb31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-bs-4.9.4.tar.xz">kde-l10n-bs-4.9.4</a></td>
   <td align="right">2.1MB</td>
   <td><tt>12c15627583e12f88e01acb76ca907a369aa5252</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-ca-4.9.4.tar.xz">kde-l10n-ca-4.9.4</a></td>
   <td align="right">11MB</td>
   <td><tt>670fea59b84ff490fde38573cd7e02c90ce90698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-ca@valencia-4.9.4.tar.xz">kde-l10n-ca@valencia-4.9.4</a></td>
   <td align="right">2.0MB</td>
   <td><tt>71a6fe1bf9d938edbd4c8c27eb1cc6abf61ff9be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-cs-4.9.4.tar.xz">kde-l10n-cs-4.9.4</a></td>
   <td align="right">2.8MB</td>
   <td><tt>f9545b3178ec77c73772b93568122da50086d801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-da-4.9.4.tar.xz">kde-l10n-da-4.9.4</a></td>
   <td align="right">12MB</td>
   <td><tt>7b3eacdcb5a0fd20ebbfb0382a82b8ba05ede129</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-de-4.9.4.tar.xz">kde-l10n-de-4.9.4</a></td>
   <td align="right">36MB</td>
   <td><tt>b84fb87f795a91df7b8f84ce338abf2fba6faebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-el-4.9.4.tar.xz">kde-l10n-el-4.9.4</a></td>
   <td align="right">4.5MB</td>
   <td><tt>050c95540cb39313016265dc6d523a21fa00d082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-en_GB-4.9.4.tar.xz">kde-l10n-en_GB-4.9.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4c30307da390c2b93faeab4defb88f1027643b47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-es-4.9.4.tar.xz">kde-l10n-es-4.9.4</a></td>
   <td align="right">22MB</td>
   <td><tt>5df9817ab57474b40daa6f05869ab77ff0bdb36b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-et-4.9.4.tar.xz">kde-l10n-et-4.9.4</a></td>
   <td align="right">7.0MB</td>
   <td><tt>ef896d66a3ddee05cb555c06fc107c27766e947a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-eu-4.9.4.tar.xz">kde-l10n-eu-4.9.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>42e31387946c042397676b548cfbe0badcfbf789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-fa-4.9.4.tar.xz">kde-l10n-fa-4.9.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>228dbcf8c63675932acb5969321af4f2284dacaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-fi-4.9.4.tar.xz">kde-l10n-fi-4.9.4</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d7fe13f87288ec075bda0ff48ea54c10dda4772e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-fr-4.9.4.tar.xz">kde-l10n-fr-4.9.4</a></td>
   <td align="right">42MB</td>
   <td><tt>7a436bd50fa6e9c96425ee0bd28908cacd9c1ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-ga-4.9.4.tar.xz">kde-l10n-ga-4.9.4</a></td>
   <td align="right">2.6MB</td>
   <td><tt>be02925113c5b1f84558972697f064a57bbd2e0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-gl-4.9.4.tar.xz">kde-l10n-gl-4.9.4</a></td>
   <td align="right">4.1MB</td>
   <td><tt>6a20c562d11787bb9d2ce3ece7665e3a8e3e11fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-he-4.9.4.tar.xz">kde-l10n-he-4.9.4</a></td>
   <td align="right">2.0MB</td>
   <td><tt>17dbd35c2776b5279912497595b931c0ca50ca44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-hi-4.9.4.tar.xz">kde-l10n-hi-4.9.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e37cd49804881f318975028ad3588837fba6de6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-hr-4.9.4.tar.xz">kde-l10n-hr-4.9.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1aad6f6fddd013f4e7f866cc785bf91fdcdd99a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-hu-4.9.4.tar.xz">kde-l10n-hu-4.9.4</a></td>
   <td align="right">3.9MB</td>
   <td><tt>1cc483c937a841cfce95b8251de6449065d99e1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-ia-4.9.4.tar.xz">kde-l10n-ia-4.9.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>ce81677eb777e0155da5cfebd64b07584354714f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-is-4.9.4.tar.xz">kde-l10n-is-4.9.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9511b678a25a0abe1bfbdd845af85bac3aa50f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-it-4.9.4.tar.xz">kde-l10n-it-4.9.4</a></td>
   <td align="right">9.9MB</td>
   <td><tt>94ca9e9ea815c01192e23a804aa484dd8917ed5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-ja-4.9.4.tar.xz">kde-l10n-ja-4.9.4</a></td>
   <td align="right">2.1MB</td>
   <td><tt>70006079c40caa6ea6bc1643a30b1fcd1d0a101f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-kk-4.9.4.tar.xz">kde-l10n-kk-4.9.4</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ff20f459d3ed3839fc539b38f95ce18480fd130c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-km-4.9.4.tar.xz">kde-l10n-km-4.9.4</a></td>
   <td align="right">2.0MB</td>
   <td><tt>af9ed3be5429ac4fb0a3d98766d7067d93ba602e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-ko-4.9.4.tar.xz">kde-l10n-ko-4.9.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>dbb114867809ef44e34fe566a4292430e663bc49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-lt-4.9.4.tar.xz">kde-l10n-lt-4.9.4</a></td>
   <td align="right">10MB</td>
   <td><tt>c8ca573dd6cfa5abcb230ba9831fd0621428e42d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-lv-4.9.4.tar.xz">kde-l10n-lv-4.9.4</a></td>
   <td align="right">2.0MB</td>
   <td><tt>50155d2e407d39a7e9bbadd39bd5d1d2d42c63da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-nb-4.9.4.tar.xz">kde-l10n-nb-4.9.4</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f9f347f0e26d96c0198c780641bdc58321317a26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-nds-4.9.4.tar.xz">kde-l10n-nds-4.9.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0aa75ccd082477539ba47c1e27e602612166f86b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-nl-4.9.4.tar.xz">kde-l10n-nl-4.9.4</a></td>
   <td align="right">15MB</td>
   <td><tt>975139d14d8d95d6e0ed5872a7bc7308262c77ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-nn-4.9.4.tar.xz">kde-l10n-nn-4.9.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a18f2a2f5f189d8883441acfa22a4982f25fccad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-pa-4.9.4.tar.xz">kde-l10n-pa-4.9.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2fa443cd7dc738402bafd83374f2d9c21939806c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-pl-4.9.4.tar.xz">kde-l10n-pl-4.9.4</a></td>
   <td align="right">16MB</td>
   <td><tt>7997b4b989582713e2f9011ac2a491a6d846f559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-pt-4.9.4.tar.xz">kde-l10n-pt-4.9.4</a></td>
   <td align="right">5.5MB</td>
   <td><tt>176b9217c1350d0a6d93a972f230f896cda7367e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-pt_BR-4.9.4.tar.xz">kde-l10n-pt_BR-4.9.4</a></td>
   <td align="right">26MB</td>
   <td><tt>fb926b487ad3c73967225becb48b7bdac6d57c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-ro-4.9.4.tar.xz">kde-l10n-ro-4.9.4</a></td>
   <td align="right">2.8MB</td>
   <td><tt>14794d5e9ae305ac9a974b518bb8f350f963a6ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-ru-4.9.4.tar.xz">kde-l10n-ru-4.9.4</a></td>
   <td align="right">22MB</td>
   <td><tt>d7b7d7721743966ea5e406a6a44298ad3a1d6a95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-si-4.9.4.tar.xz">kde-l10n-si-4.9.4</a></td>
   <td align="right">1010kB</td>
   <td><tt>555b535790739f7ec2aec140332a406cbf0bbed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-sk-4.9.4.tar.xz">kde-l10n-sk-4.9.4</a></td>
   <td align="right">4.0MB</td>
   <td><tt>d1ebac86d92d19331f10402e0b70366b0b737e2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-sl-4.9.4.tar.xz">kde-l10n-sl-4.9.4</a></td>
   <td align="right">3.2MB</td>
   <td><tt>ce4ae940b083a00425dbc18c0611ca49079c3f78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-sr-4.9.4.tar.xz">kde-l10n-sr-4.9.4</a></td>
   <td align="right">5.1MB</td>
   <td><tt>fb06f22c0c87a82a25dd419917046088a994262f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-sv-4.9.4.tar.xz">kde-l10n-sv-4.9.4</a></td>
   <td align="right">15MB</td>
   <td><tt>0888ddce4febd0af32dfb1a2115825761f1afce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-tg-4.9.4.tar.xz">kde-l10n-tg-4.9.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>878123332b1e5da07fd94c37797c689635cf5e2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-th-4.9.4.tar.xz">kde-l10n-th-4.9.4</a></td>
   <td align="right">1.5MB</td>
   <td><tt>0e7f8779630f174703fe33957f1ffa068f9f2531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-tr-4.9.4.tar.xz">kde-l10n-tr-4.9.4</a></td>
   <td align="right">3.8MB</td>
   <td><tt>a8e5291a73b6ef638885b45eabe3f17e97f69b6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-ug-4.9.4.tar.xz">kde-l10n-ug-4.9.4</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a10bccc15d42b0a6351c9acc7e42f3ac73e88eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-uk-4.9.4.tar.xz">kde-l10n-uk-4.9.4</a></td>
   <td align="right">23MB</td>
   <td><tt>e66205651512a6b10fa8da81523a8fb81c54d75c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-vi-4.9.4.tar.xz">kde-l10n-vi-4.9.4</a></td>
   <td align="right">894kB</td>
   <td><tt>f08b14fc57c40094211aa1ed44912b68fd22cf9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-wa-4.9.4.tar.xz">kde-l10n-wa-4.9.4</a></td>
   <td align="right">1.6MB</td>
   <td><tt>228bcd6232a2d172045819c40cfa9825d7a5eeb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-zh_CN-4.9.4.tar.xz">kde-l10n-zh_CN-4.9.4</a></td>
   <td align="right">3.3MB</td>
   <td><tt>7736ebc6af539801eacd0267a93d2f25873fb53f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.4/src/kde-l10n/kde-l10n-zh_TW-4.9.4.tar.xz">kde-l10n-zh_TW-4.9.4</a></td>
   <td align="right">2.3MB</td>
   <td><tt>71d51608b048232eef836765515087a55b153c0c</tt></td>
</tr>

</table>
