<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/akonadi-15.08.2.tar.xz">akonadi-15.08.2</a></td>
   <td align="right">272kB</td>
   <td><tt>a545c2047902495b6720c9f45838216021312e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/akonadi-calendar-15.08.2.tar.xz">akonadi-calendar-15.08.2</a></td>
   <td align="right">112kB</td>
   <td><tt>9d8b5d99a0dec04c4484c77be8d0e4512f011faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/akonadi-search-15.08.2.tar.xz">akonadi-search-15.08.2</a></td>
   <td align="right">59kB</td>
   <td><tt>8aacb3fadc55c0dc7f0c0291f9f9a5e7dcaa0258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/amor-15.08.2.tar.xz">amor-15.08.2</a></td>
   <td align="right">171kB</td>
   <td><tt>3a0a98d077a15e1c7babe35941ea6dc6282f8ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/analitza-15.08.2.tar.xz">analitza-15.08.2</a></td>
   <td align="right">222kB</td>
   <td><tt>d777170bf3eef8c620928e7d651a25620bcdc594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ark-15.08.2.tar.xz">ark-15.08.2</a></td>
   <td align="right">219kB</td>
   <td><tt>f6fc8ad61fd436981dc934b443fe335f13351fde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/artikulate-15.08.2.tar.xz">artikulate-15.08.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>f2d9afb44dcc2e1f91caadc9f730c336ef29e1ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/audiocd-kio-15.08.2.tar.xz">audiocd-kio-15.08.2</a></td>
   <td align="right">50kB</td>
   <td><tt>0434a88f02add3b9c2998b84925e231652297a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/baloo-widgets-15.08.2.tar.xz">baloo-widgets-15.08.2</a></td>
   <td align="right">55kB</td>
   <td><tt>95a4e59632e0b1ea0ac30eb21b31bdd2071c5ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/blinken-15.08.2.tar.xz">blinken-15.08.2</a></td>
   <td align="right">553kB</td>
   <td><tt>f27cc4017809b0247001158040a59ced5daa1037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/bomber-15.08.2.tar.xz">bomber-15.08.2</a></td>
   <td align="right">384kB</td>
   <td><tt>ebc1790ebf537c9c5e53be7ac7baf271ace8ea7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/bovo-15.08.2.tar.xz">bovo-15.08.2</a></td>
   <td align="right">102kB</td>
   <td><tt>93b7079d940cbaa2a4b724a34c6a0c711d84ad70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/cantor-15.08.2.tar.xz">cantor-15.08.2</a></td>
   <td align="right">348kB</td>
   <td><tt>3f20136986443b3cf15376ea8a3b0f1bf81eb051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/cervisia-15.08.2.tar.xz">cervisia-15.08.2</a></td>
   <td align="right">364kB</td>
   <td><tt>b4a96306e5ac7c223bc1e378b7ecfbc7ebd353dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/dolphin-15.08.2.tar.xz">dolphin-15.08.2</a></td>
   <td align="right">641kB</td>
   <td><tt>b32490cf1e62d1594b9b9bab7a671aca676414cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/dolphin-plugins-15.08.2.tar.xz">dolphin-plugins-15.08.2</a></td>
   <td align="right">57kB</td>
   <td><tt>627b702ade8cf6e0ad51eebcaeec9aadf7680116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/dragon-15.08.2.tar.xz">dragon-15.08.2</a></td>
   <td align="right">393kB</td>
   <td><tt>78f841df7ad134e525707aa4fbe602cee7b877a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ffmpegthumbs-15.08.2.tar.xz">ffmpegthumbs-15.08.2</a></td>
   <td align="right">19kB</td>
   <td><tt>31ac867a9c41753889ef81c986b22001b785a208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/filelight-15.08.2.tar.xz">filelight-15.08.2</a></td>
   <td align="right">280kB</td>
   <td><tt>fabb9c7cda55449c082afa59ac10b8ec0a0db6bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/gpgmepp-15.08.2.tar.xz">gpgmepp-15.08.2</a></td>
   <td align="right">65kB</td>
   <td><tt>2e217302cd33fb43fd3fdf668e28779670022d31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/granatier-15.08.2.tar.xz">granatier-15.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>fa5a84da1296c42c58a4f0d64eac0fcea47d8271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/gwenview-15.08.2.tar.xz">gwenview-15.08.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>8409a9dbd350a600a764d49403245765656a7c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/jovie-15.08.2.tar.xz">jovie-15.08.2</a></td>
   <td align="right">383kB</td>
   <td><tt>9ce607a59f98f55e65870cca46b70a3a713fae82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/juk-15.08.2.tar.xz">juk-15.08.2</a></td>
   <td align="right">434kB</td>
   <td><tt>09c56cec62111dbe5293dd2d1495474d40fa8ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kaccessible-15.08.2.tar.xz">kaccessible-15.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>9c9a949993d4a8fd160bdf201831095934958d24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kaccounts-integration-15.08.2.tar.xz">kaccounts-integration-15.08.2</a></td>
   <td align="right">54kB</td>
   <td><tt>0da7af2eafdcdf708a30c94f0855c1df2cd74e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kaccounts-providers-15.08.2.tar.xz">kaccounts-providers-15.08.2</a></td>
   <td align="right">11kB</td>
   <td><tt>a9b6a825dedf267723a32a08c0aa9968bf52eb1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kajongg-15.08.2.tar.xz">kajongg-15.08.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d76518a9da04aba177c1976b6baea8d7dd66dfb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kalarmcal-15.08.2.tar.xz">kalarmcal-15.08.2</a></td>
   <td align="right">85kB</td>
   <td><tt>b723b3353b4b2afa6cb7c3030ece9d6beb52d8a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kalgebra-15.08.2.tar.xz">kalgebra-15.08.2</a></td>
   <td align="right">263kB</td>
   <td><tt>2b510a66f8640d20e3c8082a369148756af171ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kalzium-15.08.2.tar.xz">kalzium-15.08.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>b94819afb650ed01dae101a03f16e0147df62e67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kamera-15.08.2.tar.xz">kamera-15.08.2</a></td>
   <td align="right">34kB</td>
   <td><tt>06dcd8aef6038d999a77f4827af77e1a32fbf1d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kanagram-15.08.2.tar.xz">kanagram-15.08.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>2b74e0dcdba715f17025c0a4d86f0bc1383c19d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kapman-15.08.2.tar.xz">kapman-15.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>87f8570bfe6bb14d597c8eb713220ab8bb05a64d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kapptemplate-15.08.2.tar.xz">kapptemplate-15.08.2</a></td>
   <td align="right">689kB</td>
   <td><tt>04b9bde76390bcb094e769d98f40a8a9fd2c35e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kate-15.08.2.tar.xz">kate-15.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7cd36c0f6bdfe6b766918fc6bf8457ecbd537bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/katomic-15.08.2.tar.xz">katomic-15.08.2</a></td>
   <td align="right">646kB</td>
   <td><tt>18eaa90141c850892fdc8a4624b9bc6e1a4b0c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kblackbox-15.08.2.tar.xz">kblackbox-15.08.2</a></td>
   <td align="right">255kB</td>
   <td><tt>eaa05af2019b2c6874cc0a5b6191a0901a10cd4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kblocks-15.08.2.tar.xz">kblocks-15.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7048335e39d2946a933efa28a6b8cd07a21d4b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kblog-15.08.2.tar.xz">kblog-15.08.2</a></td>
   <td align="right">43kB</td>
   <td><tt>7601e2562b7885db4beddc79df488ceddadf8f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kbounce-15.08.2.tar.xz">kbounce-15.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>22fd42e424642764345edcdd7f2679e384525fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kbreakout-15.08.2.tar.xz">kbreakout-15.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>06592b114e4aee85dd0907c017f8f6e846962582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kbruch-15.08.2.tar.xz">kbruch-15.08.2</a></td>
   <td align="right">883kB</td>
   <td><tt>22d0997c646e540f1b958c44899e32410c6116c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kcachegrind-15.08.2.tar.xz">kcachegrind-15.08.2</a></td>
   <td align="right">232kB</td>
   <td><tt>65fea2b9665c4e646331e8eaa77780ab491bd365</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kcalc-15.08.2.tar.xz">kcalc-15.08.2</a></td>
   <td align="right">81kB</td>
   <td><tt>c058e01da0956cfab504d36937d97fb63b75276a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kcalcore-15.08.2.tar.xz">kcalcore-15.08.2</a></td>
   <td align="right">287kB</td>
   <td><tt>32fac96cade734e5337bbad62d13a7dca15be3e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kcalutils-15.08.2.tar.xz">kcalutils-15.08.2</a></td>
   <td align="right">53kB</td>
   <td><tt>cde13b7b8bd7d7855498b427bc49dfa847632fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kcharselect-15.08.2.tar.xz">kcharselect-15.08.2</a></td>
   <td align="right">82kB</td>
   <td><tt>bf366fdc6a12694f5bc9f3694395574420bb8884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kcolorchooser-15.08.2.tar.xz">kcolorchooser-15.08.2</a></td>
   <td align="right">4kB</td>
   <td><tt>772065518830ef628f5b2c3241cae243a9ec28df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kcontacts-15.08.2.tar.xz">kcontacts-15.08.2</a></td>
   <td align="right">131kB</td>
   <td><tt>38f40636fe2fc69d9339cd21ec55a50b9fcafa44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kcron-15.08.2.tar.xz">kcron-15.08.2</a></td>
   <td align="right">136kB</td>
   <td><tt>6d480288d9c39db0898c2fea080785af43d83079</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdeartwork-15.08.2.tar.xz">kdeartwork-15.08.2</a></td>
   <td align="right">134MB</td>
   <td><tt>341b244d6aabaacb64e78b42d579030d44678f62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-baseapps-15.08.2.tar.xz">kde-baseapps-15.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5da678e060f741d9307d84dc245f370aa8f68729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-base-artwork-15.08.2.tar.xz">kde-base-artwork-15.08.2</a></td>
   <td align="right">7.0MB</td>
   <td><tt>40de031fba0cfdc0feb74ae272a128b249ae971a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdebugsettings-15.08.2.tar.xz">kdebugsettings-15.08.2</a></td>
   <td align="right">21kB</td>
   <td><tt>faada141ae914803bad92f8856e8794c2565bfff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-dev-scripts-15.08.2.tar.xz">kde-dev-scripts-15.08.2</a></td>
   <td align="right">299kB</td>
   <td><tt>5b6674ae9860b3ffe51c444aed95aba0bb0d55a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-dev-utils-15.08.2.tar.xz">kde-dev-utils-15.08.2</a></td>
   <td align="right">50kB</td>
   <td><tt>3124901fa9bda7c534d8fb2e706fcbf41db1a1d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdeedu-data-15.08.2.tar.xz">kdeedu-data-15.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>d0c89d10f2fec1094e1f96badb5f4cbba6db1cdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdegraphics-mobipocket-15.08.2.tar.xz">kdegraphics-mobipocket-15.08.2</a></td>
   <td align="right">14kB</td>
   <td><tt>c2c96909bfbb7a9b3867460d8acb7ccd43b8b739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdegraphics-strigi-analyzer-15.08.2.tar.xz">kdegraphics-strigi-analyzer-15.08.2</a></td>
   <td align="right">39kB</td>
   <td><tt>5d51ac1576a404adc65de3a4c51e1b8c3d3c8708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdegraphics-thumbnailers-15.08.2.tar.xz">kdegraphics-thumbnailers-15.08.2</a></td>
   <td align="right">40kB</td>
   <td><tt>fb9b5eb52e8b8f8f917dd2a74d29c6d5dc97a3bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdelibs-4.14.13.tar.xz">kdelibs-4.14.13</a></td>
   <td align="right">11MB</td>
   <td><tt>14a31dee7d503fb91b8c6e613099abf55ee9b333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdenetwork-filesharing-15.08.2.tar.xz">kdenetwork-filesharing-15.08.2</a></td>
   <td align="right">26kB</td>
   <td><tt>a76ad82197499b0efaacdbfd5cb602f380a38a40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdenetwork-strigi-analyzers-15.08.2.tar.xz">kdenetwork-strigi-analyzers-15.08.2</a></td>
   <td align="right">14kB</td>
   <td><tt>c6aa3494bad1fbe24aac4ea2ba2b9e2d7083d468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdenlive-15.08.2.tar.xz">kdenlive-15.08.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>aca3f62d7c98850a044e7d155ed85356df44e47b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdepim-15.08.2.tar.xz">kdepim-15.08.2</a></td>
   <td align="right">8.6MB</td>
   <td><tt>b6c9d899a937de5e90d03d2377bf72381ce7319b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdepimlibs-15.08.2.tar.xz">kdepimlibs-15.08.2</a></td>
   <td align="right">994kB</td>
   <td><tt>3949926c2cdb88ff08a61593aa3a6699ce5f3802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdepim-runtime-15.08.2.tar.xz">kdepim-runtime-15.08.2</a></td>
   <td align="right">693kB</td>
   <td><tt>d7be7a77408bc7793d30976711b29c65aab9ff0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-runtime-15.08.2.tar.xz">kde-runtime-15.08.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>51ff136a75dcc3e706a9634c698e2b9d5493df1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdesdk-kioslaves-15.08.2.tar.xz">kdesdk-kioslaves-15.08.2</a></td>
   <td align="right">353kB</td>
   <td><tt>2a348023141b0dd8dd2ed00f911c5abcb88ad1fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdesdk-strigi-analyzers-15.08.2.tar.xz">kdesdk-strigi-analyzers-15.08.2</a></td>
   <td align="right">17kB</td>
   <td><tt>138f43c1d7a13fa31182322352c398407f4c18fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdesdk-thumbnailers-15.08.2.tar.xz">kdesdk-thumbnailers-15.08.2</a></td>
   <td align="right">11kB</td>
   <td><tt>8a9ece85aa08b92557a778180ae34a20f8ffd73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-wallpapers-15.08.2.tar.xz">kde-wallpapers-15.08.2</a></td>
   <td align="right">86MB</td>
   <td><tt>16d43fa39dfaad2e5ef26290ddb2e932695d36c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdewebdev-15.08.2.tar.xz">kdewebdev-15.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>df420903a92c8f685b771ff097f58648a9c56619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdf-15.08.2.tar.xz">kdf-15.08.2</a></td>
   <td align="right">145kB</td>
   <td><tt>fc4640166d18d1c9ec77ba91b7d336633eea90bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kdiamond-15.08.2.tar.xz">kdiamond-15.08.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>dbfe8dae584dd8a5708a3dc9dab2d13d9a46abe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kfloppy-15.08.2.tar.xz">kfloppy-15.08.2</a></td>
   <td align="right">52kB</td>
   <td><tt>ba8edac6e887eb537b38c493193e9db68a45aea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kfourinline-15.08.2.tar.xz">kfourinline-15.08.2</a></td>
   <td align="right">275kB</td>
   <td><tt>12f63207e72d23da2b465252f70cf1cb62aa9062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kgeography-15.08.2.tar.xz">kgeography-15.08.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>1bfba956218d8c716ca197a3041709696097fa6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kget-15.08.2.tar.xz">kget-15.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>150669637f3b4f5bfa18b4a3943b2efc13fd6727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kgoldrunner-15.08.2.tar.xz">kgoldrunner-15.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>82979c32244e4d720b142121cf3498bede26a665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kgpg-15.08.2.tar.xz">kgpg-15.08.2</a></td>
   <td align="right">790kB</td>
   <td><tt>02c0eeef5890e713029043f0978e100b111c3f82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/khangman-15.08.2.tar.xz">khangman-15.08.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>076a6f3397520d3e551f195c57316fcc4a23d14c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kholidays-15.08.2.tar.xz">kholidays-15.08.2</a></td>
   <td align="right">166kB</td>
   <td><tt>c917ed51afd7c8b13f23d30b81add62a1f10e86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kidentitymanagement-15.08.2.tar.xz">kidentitymanagement-15.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>2c6d193d516864c53e23cb107023bba6231f57e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kig-15.08.2.tar.xz">kig-15.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5790ce5df5c4bedc2a731f6235325eb338de4d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kigo-15.08.2.tar.xz">kigo-15.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>508cfffe4503ae335d0ad75a5b1b51494c4b7989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/killbots-15.08.2.tar.xz">killbots-15.08.2</a></td>
   <td align="right">941kB</td>
   <td><tt>e89f32e187ea6490042c4d76d1d8fd6c0a627981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kimap-15.08.2.tar.xz">kimap-15.08.2</a></td>
   <td align="right">88kB</td>
   <td><tt>4902fdeecce4f265608de4aa296c2dad4dc24cd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kio-extras-15.08.2.tar.xz">kio-extras-15.08.2</a></td>
   <td align="right">260kB</td>
   <td><tt>8954027d7da191d70644101ccfe119785f579237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kiriki-15.08.2.tar.xz">kiriki-15.08.2</a></td>
   <td align="right">115kB</td>
   <td><tt>ed61f8d70ab126a6d99764ee61b3e77561742434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kiten-15.08.2.tar.xz">kiten-15.08.2</a></td>
   <td align="right">11MB</td>
   <td><tt>a2b82c827623401ed4c7948fae2595dd29ff8329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kjumpingcube-15.08.2.tar.xz">kjumpingcube-15.08.2</a></td>
   <td align="right">161kB</td>
   <td><tt>93bcaa3f2ba5dbf284b7665bead1808388322c2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kldap-15.08.2.tar.xz">kldap-15.08.2</a></td>
   <td align="right">52kB</td>
   <td><tt>5d7d52e896f0619e48b05261cc220497d84c8f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/klettres-15.08.2.tar.xz">klettres-15.08.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>2457df928e4978d61d93517d5d41d45bbb07de59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/klickety-15.08.2.tar.xz">klickety-15.08.2</a></td>
   <td align="right">765kB</td>
   <td><tt>7f9e5864e9570fc1d33c18cc90ee9af06db1d7bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/klines-15.08.2.tar.xz">klines-15.08.2</a></td>
   <td align="right">928kB</td>
   <td><tt>92bde3a127e8b6621ad00a6aa5391a3703af23ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kmag-15.08.2.tar.xz">kmag-15.08.2</a></td>
   <td align="right">84kB</td>
   <td><tt>aaebf7dcb2b3496858b3ec94f2cb96800a6d626d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kmahjongg-15.08.2.tar.xz">kmahjongg-15.08.2</a></td>
   <td align="right">984kB</td>
   <td><tt>6687efa8d503402c6ea4e848a63a6b647590521e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kmailtransport-15.08.2.tar.xz">kmailtransport-15.08.2</a></td>
   <td align="right">64kB</td>
   <td><tt>9f73da5baa0982319aa3dca41e63b198bb374e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kmbox-15.08.2.tar.xz">kmbox-15.08.2</a></td>
   <td align="right">23kB</td>
   <td><tt>2831f488bdbe86b60960e987b176ae884846c0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kmime-15.08.2.tar.xz">kmime-15.08.2</a></td>
   <td align="right">121kB</td>
   <td><tt>e3767e502d15696e640e64d0c724a1de31a160ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kmines-15.08.2.tar.xz">kmines-15.08.2</a></td>
   <td align="right">609kB</td>
   <td><tt>423e6f32a7b820e39f2afd86352f8fbdf0b7aa57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kmix-15.08.2.tar.xz">kmix-15.08.2</a></td>
   <td align="right">379kB</td>
   <td><tt>92a11bfa0c9b084b3fa0e0e4d0cdaf2415b13033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kmousetool-15.08.2.tar.xz">kmousetool-15.08.2</a></td>
   <td align="right">35kB</td>
   <td><tt>dd8eb4f136e95c36423e5bf44e7ab016fe288aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kmouth-15.08.2.tar.xz">kmouth-15.08.2</a></td>
   <td align="right">270kB</td>
   <td><tt>88065e86042aa39e354caaf40017ef0c1c4acb50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kmplot-15.08.2.tar.xz">kmplot-15.08.2</a></td>
   <td align="right">647kB</td>
   <td><tt>e7adf3d354b3ef9c4042f53c11a94a3fa6fbff72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/knavalbattle-15.08.2.tar.xz">knavalbattle-15.08.2</a></td>
   <td align="right">834kB</td>
   <td><tt>795f543011468de4fd675fe9ac198616825df179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/knetwalk-15.08.2.tar.xz">knetwalk-15.08.2</a></td>
   <td align="right">765kB</td>
   <td><tt>7ea7837aa76f765be80a8972772e4d4fc6507b54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kolf-15.08.2.tar.xz">kolf-15.08.2</a></td>
   <td align="right">750kB</td>
   <td><tt>b6521c71678fb40dfe453508face1264fa9e2001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kollision-15.08.2.tar.xz">kollision-15.08.2</a></td>
   <td align="right">204kB</td>
   <td><tt>40f14de0c34aefeb45144628419f564e5cb18234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kolourpaint-15.08.2.tar.xz">kolourpaint-15.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a63ebf38996756c3bf00732a6071264cf480838f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kompare-15.08.2.tar.xz">kompare-15.08.2</a></td>
   <td align="right">336kB</td>
   <td><tt>6a0e767dd4333916ba22f13e358c9dc4302a87f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/konquest-15.08.2.tar.xz">konquest-15.08.2</a></td>
   <td align="right">396kB</td>
   <td><tt>f06822e16268f6d9f79895afad98476bd4a96429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/konsole-15.08.2.tar.xz">konsole-15.08.2</a></td>
   <td align="right">448kB</td>
   <td><tt>33bd19c2f460a391dabc0fa718f4a9286a514f07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kontactinterface-15.08.2.tar.xz">kontactinterface-15.08.2</a></td>
   <td align="right">24kB</td>
   <td><tt>e885e55fab15d92c58f75110e91506ad47147f52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kopete-15.08.2.tar.xz">kopete-15.08.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>25f525998a88ef8527ce6df57e5076de8ca275c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kpat-15.08.2.tar.xz">kpat-15.08.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>032339a7add9852a690bd51370f1623951ce06ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kpimtextedit-15.08.2.tar.xz">kpimtextedit-15.08.2</a></td>
   <td align="right">38kB</td>
   <td><tt>51a218473483803119d115dfb920e317fcecac30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kppp-15.08.2.tar.xz">kppp-15.08.2</a></td>
   <td align="right">683kB</td>
   <td><tt>fa57d02c4435612fc92d086cc0b17c9695cd549c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kqtquickcharts-15.08.2.tar.xz">kqtquickcharts-15.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>d42c4cb48454a873236482987e45bb3fb90a9a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/krdc-15.08.2.tar.xz">krdc-15.08.2</a></td>
   <td align="right">389kB</td>
   <td><tt>16b804b4305e0305b839b5c66ecac54a9ac8b3e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kremotecontrol-15.08.2.tar.xz">kremotecontrol-15.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5ba3797042658a18a75aa50ee5e5cd5b6e63d621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kreversi-15.08.2.tar.xz">kreversi-15.08.2</a></td>
   <td align="right">464kB</td>
   <td><tt>3fab6737e1738be13b974cf57bd1e31b07cc1457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/krfb-15.08.2.tar.xz">krfb-15.08.2</a></td>
   <td align="right">319kB</td>
   <td><tt>b262b4bb21e7f0265d9204ebe6af7dbe6f4a1029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kross-interpreters-15.08.2.tar.xz">kross-interpreters-15.08.2</a></td>
   <td align="right">129kB</td>
   <td><tt>5d812235e436e91a59732840d8141970dcd18ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kruler-15.08.2.tar.xz">kruler-15.08.2</a></td>
   <td align="right">120kB</td>
   <td><tt>94c71f4433599be429e8f24bd7d8f01784d913e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ksaneplugin-15.08.2.tar.xz">ksaneplugin-15.08.2</a></td>
   <td align="right">12kB</td>
   <td><tt>c90a6c98b6bb830e2a922442acf49357918f8482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kscd-15.08.2.tar.xz">kscd-15.08.2</a></td>
   <td align="right">90kB</td>
   <td><tt>7258325a3125b0fe08e208619bd368a3b511b3ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kshisen-15.08.2.tar.xz">kshisen-15.08.2</a></td>
   <td align="right">133kB</td>
   <td><tt>e62dcb917caaa0689231d0a76693794fdace6998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ksirk-15.08.2.tar.xz">ksirk-15.08.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>741dbc072a5343e78def559b05b54c555b322848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ksnakeduel-15.08.2.tar.xz">ksnakeduel-15.08.2</a></td>
   <td align="right">290kB</td>
   <td><tt>b83940b058dfc4d4d63f76de95425264ced49d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ksnapshot-15.08.2.tar.xz">ksnapshot-15.08.2</a></td>
   <td align="right">252kB</td>
   <td><tt>7b80ae7512abb0e20183d7181be0a5a1fb40d50c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kspaceduel-15.08.2.tar.xz">kspaceduel-15.08.2</a></td>
   <td align="right">247kB</td>
   <td><tt>0c7b3ceccfb3d5f93c0f96e7ded7cc1e33f93dc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ksquares-15.08.2.tar.xz">ksquares-15.08.2</a></td>
   <td align="right">78kB</td>
   <td><tt>01faf7e3e7406e276d3f8933c9991458bbea7cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kstars-15.08.2.tar.xz">kstars-15.08.2</a></td>
   <td align="right">12MB</td>
   <td><tt>a0709e7ac3c35eb442522da88f5994f495e2acc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ksudoku-15.08.2.tar.xz">ksudoku-15.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6330106b1009d69d54fc7f99bf8bb744e5f02f58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ksystemlog-15.08.2.tar.xz">ksystemlog-15.08.2</a></td>
   <td align="right">372kB</td>
   <td><tt>cf665cdd57734999182c56ae1e50b84f31def8cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kteatime-15.08.2.tar.xz">kteatime-15.08.2</a></td>
   <td align="right">102kB</td>
   <td><tt>0e1f18d436703989a28525f6f37533541d0d7208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktimer-15.08.2.tar.xz">ktimer-15.08.2</a></td>
   <td align="right">143kB</td>
   <td><tt>a871ef16a4b10c7421891c3ba9780e73e09fe6ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktnef-15.08.2.tar.xz">ktnef-15.08.2</a></td>
   <td align="right">227kB</td>
   <td><tt>1eef3b083e21cd86cb4cb29e882d1017e5bdb0f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktouch-15.08.2.tar.xz">ktouch-15.08.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>29ce1be2f252a662de1bb55453903818ee124cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-accounts-kcm-15.08.2.tar.xz">ktp-accounts-kcm-15.08.2</a></td>
   <td align="right">86kB</td>
   <td><tt>b96b52a66eb2ce0866c76c09b8c6dc025f94060a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-approver-15.08.2.tar.xz">ktp-approver-15.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>906a59244536050483333312b940384bf7e051a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-auth-handler-15.08.2.tar.xz">ktp-auth-handler-15.08.2</a></td>
   <td align="right">25kB</td>
   <td><tt>a68a40129c6e57a8ebac01460fb752e4fe3ce403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-common-internals-15.08.2.tar.xz">ktp-common-internals-15.08.2</a></td>
   <td align="right">306kB</td>
   <td><tt>e84fc399a3775c58e657041066128d8d42983b00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-contact-list-15.08.2.tar.xz">ktp-contact-list-15.08.2</a></td>
   <td align="right">47kB</td>
   <td><tt>66fee458e65f7234327f9c22ec123936d108f702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-contact-runner-15.08.2.tar.xz">ktp-contact-runner-15.08.2</a></td>
   <td align="right">16kB</td>
   <td><tt>cf4c9434296dbdd08c83e2a577e34ffeef129387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-desktop-applets-15.08.2.tar.xz">ktp-desktop-applets-15.08.2</a></td>
   <td align="right">25kB</td>
   <td><tt>1d25a93ff64df93ca81f195e0ab969180f9275f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-filetransfer-handler-15.08.2.tar.xz">ktp-filetransfer-handler-15.08.2</a></td>
   <td align="right">22kB</td>
   <td><tt>4a512772930300d7caf5da01c42a97a3abae5e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-kded-module-15.08.2.tar.xz">ktp-kded-module-15.08.2</a></td>
   <td align="right">37kB</td>
   <td><tt>365040ec4ed442e27d7bb0fc6e82bfe526d84c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-send-file-15.08.2.tar.xz">ktp-send-file-15.08.2</a></td>
   <td align="right">14kB</td>
   <td><tt>56ad39adafd55196ead378caef4785963c6e3856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktp-text-ui-15.08.2.tar.xz">ktp-text-ui-15.08.2</a></td>
   <td align="right">287kB</td>
   <td><tt>74d8fe6e84058e8c413d50277c4477cf9e8c9b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktuberling-15.08.2.tar.xz">ktuberling-15.08.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>be15235d59fb955c786165470dbd7ade3bf1b8a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kturtle-15.08.2.tar.xz">kturtle-15.08.2</a></td>
   <td align="right">189kB</td>
   <td><tt>a3a985806fab6d65590a69ab5c5cd47baef39db9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/ktux-15.08.2.tar.xz">ktux-15.08.2</a></td>
   <td align="right">106kB</td>
   <td><tt>136d0fc956a8fc9a3703fca5577cdf679d425f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kubrick-15.08.2.tar.xz">kubrick-15.08.2</a></td>
   <td align="right">104kB</td>
   <td><tt>84b74e6e8a97d22cccdea8a0da0c5cd6b504d32e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kuser-15.08.2.tar.xz">kuser-15.08.2</a></td>
   <td align="right">132kB</td>
   <td><tt>997eb0f6d0aa3eb0d4f137e87f92a030005b8fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kwalletmanager-15.08.2.tar.xz">kwalletmanager-15.08.2</a></td>
   <td align="right">446kB</td>
   <td><tt>772503257d967cc78192250b6108e55e37622201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kwordquiz-15.08.2.tar.xz">kwordquiz-15.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6a49425976de84cd1d34b358f1ca67e7f099a86b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkcddb-15.08.2.tar.xz">libkcddb-15.08.2</a></td>
   <td align="right">154kB</td>
   <td><tt>7372ce75e9fd93297cbecb4222606f672a90ef08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkcompactdisc-15.08.2.tar.xz">libkcompactdisc-15.08.2</a></td>
   <td align="right">74kB</td>
   <td><tt>1350e3d0c4b59fbe1041a97caecb011929c72bfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkdcraw-15.08.2.tar.xz">libkdcraw-15.08.2</a></td>
   <td align="right">99kB</td>
   <td><tt>47d05443dc0bd2c6cfbe51d7cb152b30f72b861f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkdeedu-15.08.2.tar.xz">libkdeedu-15.08.2</a></td>
   <td align="right">128kB</td>
   <td><tt>2113439c715c3e41f73f3a17fa35ae32f4677ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkdegames-15.08.2.tar.xz">libkdegames-15.08.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>159be5be7489f0dacc4c7bcb1519a356cb7ed02e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkeduvocdocument-15.08.2.tar.xz">libkeduvocdocument-15.08.2</a></td>
   <td align="right">96kB</td>
   <td><tt>2dc730270e1db0d6e4f5da865f99febc20084493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkexiv2-15.08.2.tar.xz">libkexiv2-15.08.2</a></td>
   <td align="right">134kB</td>
   <td><tt>cdf5e4fd680822b0bcd0b3955fbd74568b3b32d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkface-15.08.2.tar.xz">libkface-15.08.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>b7e6dc3e8684e01cbfc70c1dd0c6265f62e60e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkgeomap-15.08.2.tar.xz">libkgeomap-15.08.2</a></td>
   <td align="right">121kB</td>
   <td><tt>c81645f25ed8052eaeade75023aef3e46b68c146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkipi-15.08.2.tar.xz">libkipi-15.08.2</a></td>
   <td align="right">92kB</td>
   <td><tt>0b26df1f43b7e1dac70ac96cdbb498bbf854b0a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkmahjongg-15.08.2.tar.xz">libkmahjongg-15.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>fb88f1d96a8baca2c3eefc0dae4f729923888a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libkomparediff2-15.08.2.tar.xz">libkomparediff2-15.08.2</a></td>
   <td align="right">55kB</td>
   <td><tt>1a23017dcedbec7f1fc0f41b73a5b4074cefccab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/libksane-15.08.2.tar.xz">libksane-15.08.2</a></td>
   <td align="right">79kB</td>
   <td><tt>c3f236db094a4ba81e9b1cdcca31baf53ebd66fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/lokalize-15.08.2.tar.xz">lokalize-15.08.2</a></td>
   <td align="right">931kB</td>
   <td><tt>39e843b35733fd30cce7b690a0f7cc646caacd0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/lskat-15.08.2.tar.xz">lskat-15.08.2</a></td>
   <td align="right">907kB</td>
   <td><tt>bb777ef05cd783d591b9a3958b250497e96fb292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/marble-15.08.2.tar.xz">marble-15.08.2</a></td>
   <td align="right">22MB</td>
   <td><tt>10598df4119f64c89ba9462245aab6450e2d90ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/mplayerthumbs-15.08.2.tar.xz">mplayerthumbs-15.08.2</a></td>
   <td align="right">26kB</td>
   <td><tt>5ab2c916feacd886d57a500a0f0b3b6008ff6de4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/okteta-15.08.2.tar.xz">okteta-15.08.2</a></td>
   <td align="right">492kB</td>
   <td><tt>842068f5aa3bad45f37da10846fb74c13e44029b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/okular-15.08.2.tar.xz">okular-15.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4ee1eb1324bbd605953fb0756ca5b6190361f84a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/palapeli-15.08.2.tar.xz">palapeli-15.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7346053c630cd6f84812e376baa7963a66a1b414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/parley-15.08.2.tar.xz">parley-15.08.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>086c7efa58ba2a964dc908db7e6d1bb9fe671c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/picmi-15.08.2.tar.xz">picmi-15.08.2</a></td>
   <td align="right">717kB</td>
   <td><tt>0bb40fb170a48e36fbc15968796724b82ba11e0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/poxml-15.08.2.tar.xz">poxml-15.08.2</a></td>
   <td align="right">30kB</td>
   <td><tt>a2b16c24ff9132878a73e5274b10cc10a3a9f4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/print-manager-15.08.2.tar.xz">print-manager-15.08.2</a></td>
   <td align="right">91kB</td>
   <td><tt>049de17972259303250ac1e74725e7038d701791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/rocs-15.08.2.tar.xz">rocs-15.08.2</a></td>
   <td align="right">522kB</td>
   <td><tt>1f4d9256a2c3235b8764db03eaec21106b2abbec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/signon-kwallet-extension-15.08.2.tar.xz">signon-kwallet-extension-15.08.2</a></td>
   <td align="right">10kB</td>
   <td><tt>927673b03662797e3a4f52c7d910347284af2958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/step-15.08.2.tar.xz">step-15.08.2</a></td>
   <td align="right">378kB</td>
   <td><tt>95ab545ca034d6e16ff0bafe34fde27fd2a3d27a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/superkaramba-15.08.2.tar.xz">superkaramba-15.08.2</a></td>
   <td align="right">372kB</td>
   <td><tt>77f459fd6eb6416551edf8b7c121e9b3b9537b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/svgpart-15.08.2.tar.xz">svgpart-15.08.2</a></td>
   <td align="right">8kB</td>
   <td><tt>f273ffa3d1e498e99db888b3080516139a0fc59e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/sweeper-15.08.2.tar.xz">sweeper-15.08.2</a></td>
   <td align="right">80kB</td>
   <td><tt>cda386d26c67d2d662c06394f51559f6baef7ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/syndication-15.08.2.tar.xz">syndication-15.08.2</a></td>
   <td align="right">156kB</td>
   <td><tt>d11c9e346063f2ed947380326e43ab1e053010c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/umbrello-15.08.2.tar.xz">umbrello-15.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d50155616b53aa7d623b3ecf848a3294e8dd8144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/zeroconf-ioslave-15.08.2.tar.xz">zeroconf-ioslave-15.08.2</a></td>
   <td align="right">25kB</td>
   <td><tt>6de7a43836f54b8c8419e5e56e7b43c8ef78a86f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-ar-15.08.2.tar.xz">kde-l10n-ar-15.08.2</a></td>
   <td align="right">3.2MB</td>
   <td><tt>4b088c004e3562fd914c59ebf53cbfb27466fc31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-bg-15.08.2.tar.xz">kde-l10n-bg-15.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>07aaba43bca29143dbc041804359fac573e1c989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-bs-15.08.2.tar.xz">kde-l10n-bs-15.08.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b1a5bc6f5df420dfb61b396cfa81bc7b93f3766c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-ca-15.08.2.tar.xz">kde-l10n-ca-15.08.2</a></td>
   <td align="right">11MB</td>
   <td><tt>54fb4d047e4c09755f64bf0f776447603a0befae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-ca@valencia-15.08.2.tar.xz">kde-l10n-ca@valencia-15.08.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>550b2c1de5ab833953e6b381c4b20b48e92a09f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-cs-15.08.2.tar.xz">kde-l10n-cs-15.08.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>6f82f74af1ebb9d08bbf4b16bbf4e9fb167a9744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-da-15.08.2.tar.xz">kde-l10n-da-15.08.2</a></td>
   <td align="right">12MB</td>
   <td><tt>49f8102bde02507bd539fc595ba1c47fd5c7fd24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-de-15.08.2.tar.xz">kde-l10n-de-15.08.2</a></td>
   <td align="right">32MB</td>
   <td><tt>ba288a1ba63441164fd55ee56a9234dfd2b6bc64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-el-15.08.2.tar.xz">kde-l10n-el-15.08.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>626a6755f17325b19b6b6a6eadf1c0de1309ddf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-en_GB-15.08.2.tar.xz">kde-l10n-en_GB-15.08.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>d3205510eef4f689eece9b6509f72b2064c25736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-eo-15.08.2.tar.xz">kde-l10n-eo-15.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4a1c43aba61bc011eada42bfe76fad47a325b063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-es-15.08.2.tar.xz">kde-l10n-es-15.08.2</a></td>
   <td align="right">17MB</td>
   <td><tt>6cf3491aea285a3195cbf5e14a56bac378686065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-et-15.08.2.tar.xz">kde-l10n-et-15.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>228dff45da0eaf15d316b5dabc563906fa8faa74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-eu-15.08.2.tar.xz">kde-l10n-eu-15.08.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>8be6c7214375168dc993b47b1a024451a64a0d0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-fa-15.08.2.tar.xz">kde-l10n-fa-15.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f83b408f6c8b49195e6e269050abf20b3ea28444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-fi-15.08.2.tar.xz">kde-l10n-fi-15.08.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>6fa616ff5e890fc58efda751d589f99763809b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-fr-15.08.2.tar.xz">kde-l10n-fr-15.08.2</a></td>
   <td align="right">42MB</td>
   <td><tt>5c6b50fb8cfbe340c07b3d74f0541a688dc8f258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-ga-15.08.2.tar.xz">kde-l10n-ga-15.08.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>c8f85dbc043fa9575076a88c4bf063d5b6963711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-gl-15.08.2.tar.xz">kde-l10n-gl-15.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>c51c391d14d38ae85be8f6b5e08abd5ca258fc71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-he-15.08.2.tar.xz">kde-l10n-he-15.08.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>bbd2cd6410a26f516a1ecd1fb05593b559a6e7a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-hi-15.08.2.tar.xz">kde-l10n-hi-15.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4f79f6cf3d5938a72ea903ab116cceef613fc08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-hr-15.08.2.tar.xz">kde-l10n-hr-15.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>819741fcf957306efe3c9ced9a5c1edda76784b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-hu-15.08.2.tar.xz">kde-l10n-hu-15.08.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>ba28ced59fe54f2984ca849e8bfb656accee351a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-ia-15.08.2.tar.xz">kde-l10n-ia-15.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7b92ec6a8e9e06657b60056a786c242036e27f9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-id-15.08.2.tar.xz">kde-l10n-id-15.08.2</a></td>
   <td align="right">559kB</td>
   <td><tt>002147799bb4c32d4ff5c9a92cc49d6a2ebd1ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-is-15.08.2.tar.xz">kde-l10n-is-15.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>24c259acf772c13309fec2d6056811d339120c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-it-15.08.2.tar.xz">kde-l10n-it-15.08.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>69dda92328bb0e88b16ad5e5303dd8ffafad4343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-ja-15.08.2.tar.xz">kde-l10n-ja-15.08.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>4e064863a8b908031bab38a3baba5be479934fae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-kk-15.08.2.tar.xz">kde-l10n-kk-15.08.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>b5395627187bd71291b90a2d4c71571728fea2da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-km-15.08.2.tar.xz">kde-l10n-km-15.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0e3bc843418d0931a490a38bd68cb4c08290e61f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-ko-15.08.2.tar.xz">kde-l10n-ko-15.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>be16ca59382f0363e17d5a4f46b9539aecfe6d2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-lt-15.08.2.tar.xz">kde-l10n-lt-15.08.2</a></td>
   <td align="right">12MB</td>
   <td><tt>54fb587510a7a1fa5c601dd4163ad62e0da17d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-lv-15.08.2.tar.xz">kde-l10n-lv-15.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e952901990e4d58379dc07739559256bf6d9e9bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-mr-15.08.2.tar.xz">kde-l10n-mr-15.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>da65b474bfd172f187be03baaf937983a20d84cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-nb-15.08.2.tar.xz">kde-l10n-nb-15.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9febf573baf7fa415755e9cca3a6a55b92db6979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-nds-15.08.2.tar.xz">kde-l10n-nds-15.08.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>3ae856e8d2b623cbd68bd06d5fde11cb8e3e2d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-nl-15.08.2.tar.xz">kde-l10n-nl-15.08.2</a></td>
   <td align="right">13MB</td>
   <td><tt>86d18dee93b0fa577df8a685e37a86e249ae8c9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-nn-15.08.2.tar.xz">kde-l10n-nn-15.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9e07930d7d5b33f481ba7bebe7ce5f2b6c9d374c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-pa-15.08.2.tar.xz">kde-l10n-pa-15.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1c8b716b0366710c1eab5c662b455b377667b2a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-pl-15.08.2.tar.xz">kde-l10n-pl-15.08.2</a></td>
   <td align="right">18MB</td>
   <td><tt>82234f3051a51e06c128e4aac720d252ee2ae028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-pt-15.08.2.tar.xz">kde-l10n-pt-15.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>28a3add045a1c16b89666475b7e584bb2d704289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-pt_BR-15.08.2.tar.xz">kde-l10n-pt_BR-15.08.2</a></td>
   <td align="right">20MB</td>
   <td><tt>ae1a4732d603c2619ea0411d2bfdcf2df0a17b93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-ro-15.08.2.tar.xz">kde-l10n-ro-15.08.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b46a6121362d81f094553a52018e0852d35ddc79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-ru-15.08.2.tar.xz">kde-l10n-ru-15.08.2</a></td>
   <td align="right">21MB</td>
   <td><tt>be283179d7de926e988ea6b1701ad6b299363a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-sk-15.08.2.tar.xz">kde-l10n-sk-15.08.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>74897e6afd8077fefbac780bbe607e05660bc367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-sl-15.08.2.tar.xz">kde-l10n-sl-15.08.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>89cff74b1e3fd8cd03f8e955328a8e3c99ed6454</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-sr-15.08.2.tar.xz">kde-l10n-sr-15.08.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>af4bb21a5f19004adcfd7b81523cad9e1d0b6b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-sv-15.08.2.tar.xz">kde-l10n-sv-15.08.2</a></td>
   <td align="right">12MB</td>
   <td><tt>779b03d560c6064975f67dae3c5f3d73de6e177c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-tr-15.08.2.tar.xz">kde-l10n-tr-15.08.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>79ad33ff7cc5c120811be96ddfb6298391afbc28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-ug-15.08.2.tar.xz">kde-l10n-ug-15.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1aa6b9c6db757ea308d4f4859e6deaa24d41cfbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-uk-15.08.2.tar.xz">kde-l10n-uk-15.08.2</a></td>
   <td align="right">24MB</td>
   <td><tt>ea41cb8f50164e09c29232132fa1dca59cb1e505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-wa-15.08.2.tar.xz">kde-l10n-wa-15.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>14b23864b1fb9842bd2a9f8fbed0611157a23163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-zh_CN-15.08.2.tar.xz">kde-l10n-zh_CN-15.08.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>04accc0f4ef067fa454d146c23ffb8984defab57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.2/src/kde-l10n/kde-l10n-zh_TW-15.08.2.tar.xz">kde-l10n-zh_TW-15.08.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>72259a8209412a41609d147c3ed99ce246ad0eb8</tt></td>
</tr>

</table>
